/* Some compilers, like Borland, don't have winresrc.h */
#ifndef NO_WINRESRC_H
#ifndef MSVC4
#include <winresrc.h>
#else
#include <winres.h>
#endif
#endif

/* Some systems don't define this, so I do it myself if necessary */
#ifndef TCS_MULTILINE
#define TCS_MULTILINE 0x0200
#endif

/* Likewise */
#ifndef RT_MANIFEST
#define RT_MANIFEST 24
#endif

#ifdef MINGW32_FIX
#define EDITTEXT     EDITTEXT "",
#endif

#include "win_res.h"

IDI_MAINICON ICON "putty.ico"

IDI_CFGICON ICON "puttycfg.ico"

/* Accelerators used: clw */
IDD_ABOUTBOX DIALOG DISCARDABLE 140, 40, 214, 70
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About PuTTY"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON "&Close", IDOK, 160, 52, 48, 14
    PUSHBUTTON "View &Licence", IDA_LICENCE, 6, 52, 70, 14
    PUSHBUTTON "Visit &Web Site", IDA_WEB, 84, 52, 70, 14
    CTEXT "PuTTY", IDA_TEXT1, 10, 6, 194, 8
    CTEXT "", IDA_VERSION, 10, 16, 194, 16
    CTEXT "\251 1997-2002 Simon Tatham. All rights reserved.",
          IDA_TEXT2, 10, 34, 194, 16
END

/* Accelerators used: aco */
IDD_MAINBOX DIALOG DISCARDABLE 0, 0, 280, 252
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "PuTTY Configuration"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON "&Open", IDOK, 184, 235, 44, 14
    PUSHBUTTON "&Cancel", IDCANCEL, 231, 235, 44, 14
    PUSHBUTTON "&About", IDC_ABOUT, 3, 235, 44, 14, NOT WS_TABSTOP
    PUSHBUTTON "&Help", IDC_HELPBTN, 50, 235, 44, 14, NOT WS_TABSTOP
END

/* Accelerators used: ac */
IDD_RECONF DIALOG DISCARDABLE 0, 0, 280, 252
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "PuTTY Reconfiguration"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON "&Apply", IDOK, 184, 235, 44, 14
    PUSHBUTTON "&Cancel", IDCANCEL, 231, 235, 44, 14
END

/* Accelerators used: co */
IDD_LOGBOX DIALOG DISCARDABLE 100, 20, 300, 119
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "PuTTY Event Log"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON "&Close", IDOK, 135, 102, 44, 14
    PUSHBUTTON "C&opy", IDN_COPY, 81, 102, 44, 14
    LISTBOX IDN_LIST, 3, 3, 294, 95, LBS_HASSTRINGS | LBS_USETABSTOPS | WS_VSCROLL | LBS_EXTENDEDSEL
END

/* No accelerators used */
IDD_LICENCEBOX DIALOG DISCARDABLE 50, 50, 226, 255
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "PuTTY Licence"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON "OK", IDOK, 98, 235, 44, 14

    LTEXT "Copyright \251 1997-2002 Simon Tatham", 1000, 10, 10, 206, 8

    LTEXT "Portions copyright Robert de Bath, Joris van Rantwijk, Delian", 1001, 10, 26, 206, 8
    LTEXT "Delchev, Andreas Schultz, Jeroen Massar, Wez Furlong, Nicolas", 1002, 10, 34, 206, 8
    LTEXT "Barry, Justin Bradford, and CORE SDI S.A.", 1003, 10, 42, 206, 8

    LTEXT "Permission is hereby granted, free of charge, to any person", 1004, 10, 58, 206, 8
    LTEXT "obtaining a copy of this software and associated documentation", 1005, 10, 66, 206, 8
    LTEXT "files (the ""Software""), to deal in the Software without restriction,", 1006, 10, 74, 206, 8
    LTEXT "including without limitation the rights to use, copy, modify, merge,", 1007, 10, 82, 206, 8
    LTEXT "publish, distribute, sublicense, and/or sell copies of the Software,", 1008, 10, 90, 206, 8
    LTEXT "and to permit persons to whom the Software is furnished to do so,", 1009, 10, 98, 206, 8
    LTEXT "subject to the following conditions:", 1010, 10, 106, 206, 8

    LTEXT "The above copyright notice and this permission notice shall be", 1011, 10, 122, 206, 8
    LTEXT "included in all copies or substantial portions of the Software.", 1012, 10, 130, 206, 8

    LTEXT "THE SOFTWARE IS PROVIDED ""AS IS"", WITHOUT", 1013, 10, 146, 206, 8
    LTEXT "WARRANTY OF ANY KIND, EXPRESS OR IMPLIED,", 1014, 10, 154, 206, 8
    LTEXT "INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF", 1015, 10, 162, 206, 8
    LTEXT "MERCHANTABILITY, FITNESS FOR A PARTICULAR", 1016, 10, 170, 206, 8
    LTEXT "PURPOSE AND NONINFRINGEMENT.  IN NO EVENT SHALL THE", 1017, 10, 178, 206, 8
    LTEXT "COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES", 1018, 10, 186, 206, 8
    LTEXT "OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT,", 1019, 10, 194, 206, 8
    LTEXT "TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN", 1020, 10, 202, 206, 8
    LTEXT "CONNECTION WITH THE SOFTWARE OR THE USE OR", 1021, 10, 210, 206, 8
    LTEXT "OTHER DEALINGS IN THE SOFTWARE.", 1022, 10, 218, 206, 8

END

1 RT_MANIFEST "putty.mft"
