/tests
/*-tests
/Makefile
/request
/*.log*
/server
/regress
/compress
/*.gz
/*.lo
/*.tmp
/.libs
/acl
/oldacl
/acl3744
/auth
/lock
/basic
/ssl
/xml
/stubs
/twooh7
/ca
/ca-stamp
/ssigned.pem
/wildcard.*
/*.cert
/*.csr
/fqdn.pem
/wrongcn.pem
/socket
/redirect
/session
/*.out
/core*
/props
/socket-ssl
/resolve
/cookies
/*.bb
/*.da
/*.bbg
/ca*.pem
/chain.pem
/*.p12
/client.*
/clientdsa.*
/output.pem
/libtest.*
/clog
/largefile
/xmlreq
/sparse.bin
/*.gc*
/random.txt
/nssdb*
/makekeys
/ca2
/ca1
/ca3
/foobar.txt
/server.key
/hello.txt
