/* Some compilers, like Borland, don't have winresrc.h */
#ifdef __LCC__ 
#include <win.h>
#else

#ifndef NO_WINRESRC_H
#ifndef MSVC4
#include <winresrc.h>
#else
#include <winres.h>
#endif
#endif

#endif /* end #ifdef __LCC__ */

/* Some systems don't define this, so I do it myself if necessary */
#ifndef RT_MANIFEST
#define RT_MANIFEST 24
#endif

200 ICON "pageant.ico"
201 ICON "pageants.ico"

210 DIALOG DISCARDABLE 0, 0, 140, 60
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Pageant: Enter Passphrase"
FONT 8, "MS Shell Dlg"
BEGIN
    CTEXT "Enter passphrase for key", 100, 10, 6, 120, 8
    CTEXT "", 101, 10, 16, 120, 8
    EDITTEXT 102, 10, 26, 120, 12, ES_PASSWORD | ES_AUTOHSCROLL
    DEFPUSHBUTTON "O&K", IDOK, 20, 42, 40, 14
    PUSHBUTTON "&Cancel", IDCANCEL, 80, 42, 40, 14
END

211 DIALOG DISCARDABLE 0, 0, 330, 200
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Pageant Key List"
FONT 8, "MS Shell Dlg"
BEGIN
    LISTBOX 100, 10, 10, 310, 155,
        LBS_EXTENDEDSEL | LBS_HASSTRINGS | LBS_USETABSTOPS | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON "&Add Key", 101, 75, 162, 60, 14
    PUSHBUTTON "&Remove Key", 102, 195, 162, 60, 14
    PUSHBUTTON "&Help", 103, 10, 182, 50, 14
    DEFPUSHBUTTON "&Close", IDOK, 270, 182, 50, 14
END

/* Accelerators used: cl */
213 DIALOG DISCARDABLE 140, 40, 136, 70
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About Pageant"
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON "&Close", IDOK, 82, 52, 48, 14
    PUSHBUTTON "View &Licence", 101, 6, 52, 70, 14
    CTEXT "Pageant", 102, 10, 6, 120, 8
    CTEXT "", 100, 10, 16, 120, 16
    CTEXT "\251 1997-2004 Simon Tatham. All rights reserved.",
          103, 10, 34, 120, 16
END

/* No accelerators used */
214 DIALOG DISCARDABLE 50, 50, 226, 255
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "PuTTY Licence"
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON "OK", IDOK, 98, 235, 44, 14

    LTEXT "Copyright \251 1997-2004 Simon Tatham", 1000, 10, 10, 206, 8

    LTEXT "Portions copyright Robert de Bath, Joris van Rantwijk, Delian", 1001, 10, 26, 206, 8
    LTEXT "Delchev, Andreas Schultz, Jeroen Massar, Wez Furlong, Nicolas", 1002, 10, 34, 206, 8
    LTEXT "Barry, Justin Bradford, Ben Harris, and CORE SDI S.A.", 1003, 10, 42, 206, 8

    LTEXT "Permission is hereby granted, free of charge, to any person", 1004, 10, 58, 206, 8
    LTEXT "obtaining a copy of this software and associated documentation", 1005, 10, 66, 206, 8
    LTEXT "files (the ""Software""), to deal in the Software without restriction,", 1006, 10, 74, 206, 8
    LTEXT "including without limitation the rights to use, copy, modify, merge,", 1007, 10, 82, 206, 8
    LTEXT "publish, distribute, sublicense, and/or sell copies of the Software,", 1008, 10, 90, 206, 8
    LTEXT "and to permit persons to whom the Software is furnished to do so,", 1009, 10, 98, 206, 8
    LTEXT "subject to the following conditions:", 1010, 10, 106, 206, 8

    LTEXT "The above copyright notice and this permission notice shall be", 1011, 10, 122, 206, 8
    LTEXT "included in all copies or substantial portions of the Software.", 1012, 10, 130, 206, 8

    LTEXT "THE SOFTWARE IS PROVIDED ""AS IS"", WITHOUT", 1013, 10, 146, 206, 8
    LTEXT "WARRANTY OF ANY KIND, EXPRESS OR IMPLIED,", 1014, 10, 154, 206, 8
    LTEXT "INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF", 1015, 10, 162, 206, 8
    LTEXT "MERCHANTABILITY, FITNESS FOR A PARTICULAR", 1016, 10, 170, 206, 8
    LTEXT "PURPOSE AND NONINFRINGEMENT.  IN NO EVENT SHALL THE", 1017, 10, 178, 206, 8
    LTEXT "COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES", 1018, 10, 186, 206, 8
    LTEXT "OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT,", 1019, 10, 194, 206, 8
    LTEXT "TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN", 1020, 10, 202, 206, 8
    LTEXT "CONNECTION WITH THE SOFTWARE OR THE USE OR", 1021, 10, 210, 206, 8
    LTEXT "OTHER DEALINGS IN THE SOFTWARE.", 1022, 10, 218, 206, 8

END

1 RT_MANIFEST "pageant.mft"
