1 VERSIONINFO
FILEVERSION 2,2,0,99
PRODUCTVERSION 2,2,0,99
FILEOS 0x4
FILETYPE 0x1
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904E4"
        {
            VALUE "CompanyName", "Martin Prikryl\0"
            VALUE "FileDescription", "Console interface for WinSCP\0"
            VALUE "FileVersion", "2.2.0.99\0"
            VALUE "InternalName", "console\0"
            VALUE "LegalCopyright", "(c) 2000-2008 Martin Prikryl\0"
            VALUE "LegalTrademarks", "\0"
            VALUE "OriginalFilename", "winscp.com\0"
            VALUE "ProductName", "WinSCP\0"
            VALUE "ProductVersion", "4.1.8.0\0"
            VALUE "WWW", "http://winscp.net/\0"
        }
    }

    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x0409 0x04E4
    }
}