1 VERSIONINFO
FILEVERSION 4,1,0,375
PRODUCTVERSION 4,1,0,375
FILEOS 0x4
FILETYPE 0x1
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904E4"
        {
            VALUE "CompanyName", "Martin Prikryl\0"
            VALUE "FileDescription", "SFTP, FTP and SCP client\0"
            VALUE "FileVersion", "4.1.0.375\0"
            VALUE "InternalName", "winscp\0"
            VALUE "LegalCopyright", "(c) 2000-2008 Martin Prikryl\0"
            VALUE "LegalTrademarks", "\0"
            VALUE "OriginalFilename", "winscp410.exe\0"
            VALUE "ProductName", "WinSCP\0"
            VALUE "ProductVersion", "4.1.0.0\0"
            VALUE "WWW", "http://winscp.net/\0"
        }
    }

    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x0409 0x04E4
    }
}