/config.h.in
/config.h
/configure
/config.status
/config.log
/conftest.c
/Makefile
/aclocal.m4
/*.cache
/libtool
/neon-config
/reconf*
/confdefs.h
/ltmain.sh
/ltconfig
/config.sub
/config.guess
/*.out
/*.log
/.version
/config.hw
/neon.pc
/clog
/ChangeLog
/install-sh
/po/*.gmo
/doc/*.?
/doc/*.html
/doc/*.pdf
/doc/*.ps
/doc/*.tex
/doc/*.sgml
/doc/*.junk
/doc/html
/doc/man
/doc/man3
/doc/man1
/doc/version.xml
/doc/date.xml
