// This is a part of the Microsoft Foundation Classes C++ library.
// Copyright (C) 1992-1998 Microsoft Corporation
// All rights reserved.
//
// This source code is only intended as a supplement to the
// Microsoft Foundation Classes Reference and related
// electronic documentation provided with the library.
// See these sources for detailed information regarding the
// Microsoft Foundation Classes product.

#ifndef __AFXDB_RC__
#define __AFXDB_RC__

#ifndef __AFXRES_H__
	#include <afxres.h>
#endif

#ifdef APSTUDIO_INVOKED
// This will prevent the VC++ Resource Editor user from saving this file
1 TEXTINCLUDE DISCARDABLE
BEGIN
"< Cannot change standard MFC resources! >\0"
END
#endif    // APSTUDIO_INVOKED

#ifndef _AFXDLL

/////////////////////////////////////////////////////////////////////////////
// Database Resources

// Database strings
STRINGTABLE DISCARDABLE
BEGIN
	AFX_IDP_SQL_CONNECT_FAIL
		"Attempt to connect to datasource failed"
	AFX_IDP_SQL_RECORDSET_FORWARD_ONLY
		"Recordset supports forward movement only."
	AFX_IDP_SQL_EMPTY_COLUMN_LIST
		"Attempt to open a table failed - there were no columns to retrieve were specified."
	AFX_IDP_SQL_FIELD_SCHEMA_MISMATCH
		"Unexpected column data types were returned from query."
	AFX_IDP_SQL_ILLEGAL_MODE "Attempt to Update or Delete failed."
	AFX_IDP_SQL_MULTIPLE_ROWS_AFFECTED "Multiple rows were updated."
	AFX_IDP_SQL_NO_CURRENT_RECORD "Operation failed, no current record."
	AFX_IDP_SQL_NO_ROWS_AFFECTED
		"No rows were affected by the update or delete operation."
	AFX_IDP_SQL_RECORDSET_READONLY "Recordset is read-only"
	AFX_IDP_SQL_SQL_NO_TOTAL
		"ODBC driver doesn't support MFC LongBinary data model."
	AFX_IDP_SQL_ODBC_LOAD_FAILED
		"Attempt to load required component ODBC32.DLL failed."
	AFX_IDP_SQL_DYNASET_NOT_SUPPORTED
		"ODBC driver does not support dynasets."
	AFX_IDP_SQL_SNAPSHOT_NOT_SUPPORTED
		"ODBC static cursors required for snapshot support."
	AFX_IDP_SQL_API_CONFORMANCE
		"ODBC driver incompatible with MFC database classes (API_CONFORMANCE >= SQL_OAC_LEVEL1 required)."
	AFX_IDP_SQL_SQL_CONFORMANCE
		"ODBC driver incompatible with MFC database classes (SQL_CONFORMANCE >= SQL_OSC_MINIMUM required)."
	AFX_IDP_SQL_NO_DATA_FOUND
		"Attempt to scroll past end or before beginning of data."
	AFX_IDP_SQL_ROW_UPDATE_NOT_SUPPORTED
		"Dynasets not supported by ODBC driver."
	AFX_IDP_SQL_ODBC_V2_REQUIRED
		"ODBC Level 2 compliant driver required."
	AFX_IDP_SQL_NO_POSITIONED_UPDATES
		"Positioned updates not supported by ODBC driver."
	AFX_IDP_SQL_LOCK_MODE_NOT_SUPPORTED
		"Requested lock mode is not supported."
	AFX_IDP_SQL_DATA_TRUNCATED
		"Data truncated."
	AFX_IDP_SQL_ROW_FETCH
		"Error retrieving record."
	AFX_IDP_SQL_INCORRECT_ODBC
		"A required ODBC entry point was not found.  Make sure ODBC is installed correctly."
	AFX_IDP_SQL_UPDATE_DELETE_FAILED
		"Update or Delete failed."
	AFX_IDP_SQL_DYNAMIC_CURSOR_NOT_SUPPORTED
		"Dynamic cursors not supported by ODBC driver."
	AFX_IDP_SQL_FIELD_NOT_FOUND
		"Invalid field name or field index."
	AFX_IDP_SQL_BOOKMARKS_NOT_SUPPORTED
		"Bookmarks not supported for ODBC driver."
	AFX_IDP_SQL_BOOKMARKS_NOT_ENABLED
		"Bookmarks not enabled on recordset."
	AFX_IDP_DAO_ENGINE_INITIALIZATION
		"Unable to initialize DAO/Jet db engine."
	AFX_IDP_DAO_DFX_BIND
		"Bad DFX value parameter."
	AFX_IDP_DAO_OBJECT_NOT_OPEN
		"DAO TableDef or QueryDef not Open."
	AFX_IDP_DAO_ROWTOOSHORT
		"GetRows failed. Not enough memory allocated for row."
	AFX_IDP_DAO_BADBINDINFO
		"GetRows binding error. Probably caused by datatype mismatch."
	AFX_IDP_DAO_COLUMNUNAVAILABLE
		"GetRows failed. The requested column is not a member of this recordset."

	AFX_IDS_DELETED "<Deleted>"
END

/////////////////////////////////////////////////////////////////////////////

#endif //!_AFXDLL
#endif //__AFXDB_RC__
