// This is a part of the Microsoft Foundation Classes C++ library.
// Copyright (C) 1992-1998 Microsoft Corporation
// All rights reserved.
//
// This source code is only intended as a supplement to the
// Microsoft Foundation Classes Reference and related
// electronic documentation provided with the library.
// See these sources for detailed information regarding the
// Microsoft Foundation Classes product.

#ifndef __AFXRES_RC__
#define __AFXRES_RC__

#include <afxres.h>

/////////////////////////////////////////////////////////////////////////////
// Strings

STRINGTABLE DISCARDABLE
BEGIN
	AFX_IDP_FILE_NONE                "No error occurred."
	AFX_IDP_FILE_GENERIC             "An unknown error occurred while accessing %1."
	AFX_IDP_FILE_NOT_FOUND           "%1 was not found."
	AFX_IDP_FILE_BAD_PATH            "%1 contains an invalid path."
	AFX_IDP_FILE_TOO_MANY_OPEN       "%1 could not be opened because there are too many open files."
	AFX_IDP_FILE_ACCESS_DENIED       "Access to %1 was denied."
	AFX_IDP_FILE_INVALID_FILE        "An invalid file handle was associated with %1."
	AFX_IDP_FILE_REMOVE_CURRENT      "%1 could not be removed because it is the current directory."
	AFX_IDP_FILE_DIR_FULL            "%1 could not be created because the directory is full."
	AFX_IDP_FILE_BAD_SEEK            "Seek failed on %1"
	AFX_IDP_FILE_HARD_IO             "A hardware I/O error was reported while accessing %1."
	AFX_IDP_FILE_SHARING             "A sharing violation occurred while accessing %1."
	AFX_IDP_FILE_LOCKING             "A locking violation occurred while accessing %1."
	AFX_IDP_FILE_DISKFULL            "Disk full while accessing %1."
	AFX_IDP_FILE_EOF                 "An attempt was made to access %1 past its end."
	AFX_IDS_UNNAMED_FILE             "an unnamed file"
END

#endif //!__AFXRES_RC__

/////////////////////////////////////////////////////////////////////////////
