// This is a part of the Microsoft Foundation Classes C++ library.
// Copyright (C) 1992-1998 Microsoft Corporation
// All rights reserved.
//
// This source code is only intended as a supplement to the
// Microsoft Foundation Classes Reference and related
// electronic documentation provided with the library.
// See these sources for detailed information regarding the
// Microsoft Foundation Classes product.

#ifndef __AFXOLESV_RC__
#define __AFXOLESV_RC__

#ifndef __AFXRES_H__
	#include <afxres.h>
#endif

#ifdef APSTUDIO_INVOKED
// This will prevent the VC++ Resource Editor user from saving this file
1 TEXTINCLUDE DISCARDABLE
BEGIN
"< 標準 MFC ﾘｿｰｽの変更はできません! >\0"
END
#endif    // APSTUDIO_INVOKED

#ifndef _AFXDLL

/////////////////////////////////////////////////////////////////////////////
// OLE Server Resources

// OLE strings
STRINGTABLE DISCARDABLE
BEGIN
	AFX_IDP_ASK_TO_UPDATE,              "先に %1 を更新しますか?"
	AFX_IDP_FAILED_TO_UPDATE,           "ｸﾗｲｱﾝﾄを更新できませんでした。"

	AFX_IDP_FAILED_TO_REGISTER,         "登録に失敗しました。ActiveX の機能は正しく動作しない可能性があります。"
	AFX_IDP_FAILED_TO_AUTO_REGISTER,    "ｼｽﾃﾑ ﾚｼﾞｽﾄﾘの更新に失敗しました。\nREGEDIT を使って更新してください。"
END

STRINGTABLE PRELOAD
BEGIN
	AFX_IDS_APP_TITLE_EMBEDDING,        "%2 の %1"
	AFX_IDS_OBJ_TITLE_INPLACE,          "%1 - %2"
	AFX_IDS_EXIT_MENU,                  "終了して %1 に戻る(&X)"
	AFX_IDS_UPDATE_MENU,                "%1 を更新(&U)"
	AFX_IDS_SAVEFILECOPY,               "ｺﾋﾟｰを名前を付けて保存"
END

/////////////////////////////////////////////////////////////////////////////

#endif //!_AFXDLL
#endif //__AFXOLESV_RC__
