// This is a part of the Microsoft Foundation Classes C++ library.
// Copyright (C) 1992-1998 Microsoft Corporation
// All rights reserved.
//
// This source code is only intended as a supplement to the
// Microsoft Foundation Classes Reference and related
// electronic documentation provided with the library.
// See these sources for detailed information regarding the
// Microsoft Foundation Classes product.

#ifndef __AFXCTL_RC__
#define __AFXCTL_RC__

#ifndef __AFXRES_H__
	#include <afxres.h>
#endif

#ifdef APSTUDIO_INVOKED
// This will prevent the VC++ Resource Editor user from saving this file
1 TEXTINCLUDE DISCARDABLE
BEGIN
"< Cannot change standard MFC resources! >\0"
END
#endif    // APSTUDIO_INVOKED

#ifndef _AFXDLL

/////////////////////////////////////////////////////////////////////////////
// OLE Control Resources

#ifndef _AFX_NO_STOCKPPG_RESOURCES
/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//

AFX_IDB_TRUETYPE        BITMAP  DISCARDABLE     "RES\\TRUETYPE.BMP"

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

AFX_IDD_PROPPAGE_FONT DIALOG DISCARDABLE  13, 54, 250, 110
STYLE WS_CHILD | 0x4
FONT 8, "MS Shell Dlg"
BEGIN
	LTEXT           "&Nom de propriété:",IDC_STATIC,3,5,61,8
	COMBOBOX        AFX_IDC_FONTPROP,65,3,100,71,CBS_DROPDOWNLIST | CBS_SORT |
					WS_VSCROLL | WS_TABSTOP
	LTEXT           "Po&lice:",IDC_STATIC,3,19,91,8
	COMBOBOX        AFX_IDC_FONTNAMES,3,29,91,77,CBS_SIMPLE |
					CBS_OWNERDRAWFIXED | CBS_AUTOHSCROLL | CBS_SORT |
					CBS_HASSTRINGS | CBS_DISABLENOSCROLL | WS_VSCROLL |
					WS_TABSTOP
	LTEXT           "St&yle de police:",IDC_STATIC,102,19,53,8
	COMBOBOX        AFX_IDC_FONTSTYLES,104,29,53,53,CBS_DROPDOWNLIST |
					CBS_DISABLENOSCROLL | WS_VSCROLL | WS_TABSTOP
	LTEXT           "&Taille:",IDC_STATIC,167,19,40,8
	COMBOBOX        AFX_IDC_FONTSIZES,167,29,36,53,CBS_DROPDOWN | CBS_SORT |
					CBS_DISABLENOSCROLL | WS_VSCROLL | WS_TABSTOP
	GROUPBOX        "Effets",IDC_STATIC,104,44,142,24,WS_GROUP
	CONTROL         "&Barré",AFX_IDC_STRIKEOUT,"Button",BS_AUTOCHECKBOX |
					WS_TABSTOP,109,55,65,10
	CONTROL         "&Souligné",AFX_IDC_UNDERLINE,"Button",BS_AUTOCHECKBOX |
					WS_TABSTOP,175,55,65,10
	GROUPBOX        "Exemple",IDC_STATIC,104,71,142,36,WS_GROUP
	CTEXT           "AaBbYyZz",AFX_IDC_SAMPLEBOX,110,80,130,22,SS_NOPREFIX |
					NOT WS_VISIBLE
END

AFX_IDD_PROPPAGE_COLOR DIALOG DISCARDABLE  0, 0, 250, 62
STYLE WS_CHILD | 0x4
FONT 8, "MS Shell Dlg"
BEGIN
	LTEXT           "&Nom de propriété:",IDC_STATIC,3,3,100,8
	COMBOBOX        AFX_IDC_COLORPROP,3,13,100,54,CBS_DROPDOWNLIST |
					CBS_SORT | WS_VSCROLL | WS_TABSTOP
	LTEXT           "&Couleur système:",IDC_STATIC,3,29,100,8
	COMBOBOX        AFX_IDC_SYSTEMCOLORS,3,39,100,54,CBS_DROPDOWNLIST |
					CBS_SORT | WS_VSCROLL | WS_TABSTOP
	CONTROL         "",AFX_IDC_COLOR_BLACK,"Button",BS_OWNERDRAW | WS_GROUP |
					WS_TABSTOP,118,4,15,11
	CONTROL         "",AFX_IDC_COLOR_BLUE,"Button",BS_OWNERDRAW,138,4,15,11
	CONTROL         "",AFX_IDC_COLOR_CYAN,"Button",BS_OWNERDRAW,158,4,15,11
	CONTROL         "",AFX_IDC_COLOR_DARKBLUE,"Button",BS_OWNERDRAW,178,4,15,
					11
	CONTROL         "",AFX_IDC_COLOR_DARKCYAN,"Button",BS_OWNERDRAW,118,18,
					15,11
	CONTROL         "",AFX_IDC_COLOR_DARKGREEN,"Button",BS_OWNERDRAW,138,18,
					15,11
	CONTROL         "",AFX_IDC_COLOR_DARKMAGENTA,"Button",BS_OWNERDRAW,158,
					18,15,11
	CONTROL         "",AFX_IDC_COLOR_GRAY,"Button",BS_OWNERDRAW,178,18,15,11
	CONTROL         "",AFX_IDC_COLOR_DARKRED,"Button",BS_OWNERDRAW,118,32,15,
					11
	CONTROL         "",AFX_IDC_COLOR_GREEN,"Button",BS_OWNERDRAW,138,32,15,
					11
	CONTROL         "",AFX_IDC_COLOR_LIGHTBROWN,"Button",BS_OWNERDRAW,158,32,
					15,11
	CONTROL         "",AFX_IDC_COLOR_LIGHTGRAY,"Button",BS_OWNERDRAW,178,32,
					15,11
	CONTROL         "",AFX_IDC_COLOR_MAGENTA,"Button",BS_OWNERDRAW,118,46,15,
					11
	CONTROL         "",AFX_IDC_COLOR_RED,"Button",BS_OWNERDRAW,138,46,15,11
	CONTROL         "",AFX_IDC_COLOR_WHITE,"Button",BS_OWNERDRAW,158,46,15,
					11
	CONTROL         "",AFX_IDC_COLOR_YELLOW,"Button",BS_OWNERDRAW,178,46,15,
					11
END

AFX_IDD_PROPPAGE_PICTURE DIALOG DISCARDABLE  0, 0, 250, 62
STYLE WS_CHILD | 0x4
FONT 8, "MS Shell Dlg"
BEGIN
	LTEXT           "&Nom de propriété:",IDC_STATIC,3,3,100,8
	COMBOBOX        AFX_IDC_PROPNAME,3,13,100,30,CBS_DROPDOWNLIST | CBS_SORT |
					WS_VSCROLL | WS_TABSTOP
	PUSHBUTTON      "Pa&rcourir...",AFX_IDC_BROWSE,3,35,54,14
	PUSHBUTTON      "&Effacer",AFX_IDC_CLEAR,61,35,54,14
	RTEXT           "Aperçu:",IDC_STATIC,107,3,42,16
	CONTROL         "",AFX_IDC_PICTURE,"Static",SS_BLACKFRAME,151,4,93,54
END

/////////////////////////////////////////////////////////////////////////////
//
// Dialog Info
//

AFX_IDD_PROPPAGE_FONT DLGINIT
BEGIN
	1002, 0x403, 12, 0
0x6f42, 0x646c, 0x4920, 0x6174, 0x696c, 0x0063,
	0
END

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE
BEGIN
	AFX_IDS_PROPPAGE_UNKNOWN "(Inconnu)"
	AFX_IDS_COLOR_DESKTOP   "Bureau"
	AFX_IDS_COLOR_APPWORKSPACE "Espace de travail de l'application"
	AFX_IDS_COLOR_WNDBACKGND "Arrière-plan de la fenêtre"
	AFX_IDS_COLOR_WNDTEXT   "Texte de la fenêtre"
	AFX_IDS_COLOR_MENUBAR   "Barre de menu"
	AFX_IDS_COLOR_MENUTEXT  "Texte de menu"
	AFX_IDS_COLOR_ACTIVEBAR "Barre de titre active"
	AFX_IDS_COLOR_INACTIVEBAR "Barre de titre inactive"
	AFX_IDS_COLOR_ACTIVETEXT "Texte de la barre de titre active"
	AFX_IDS_COLOR_INACTIVETEXT "Texte de la barre de titre inactive"
	AFX_IDS_COLOR_ACTIVEBORDER "Bordure active"
	AFX_IDS_COLOR_INACTIVEBORDER "Bordure inactive"
END
#endif // !_AFX_NO_STOCKPPG_RESOURCES

STRINGTABLE DISCARDABLE
BEGIN
#ifndef _AFX_NO_STOCKPPG_RESOURCES
	AFX_IDS_COLOR_WNDFRAME  "Cadre de la fenêtre"
	AFX_IDS_COLOR_SCROLLBARS "Barres de défilement"
	AFX_IDS_COLOR_BTNFACE   "Face du bouton"
	AFX_IDS_COLOR_BTNSHADOW "Ombre du bouton"
	AFX_IDS_COLOR_BTNTEXT   "Texte du bouton"
	AFX_IDS_COLOR_BTNHIGHLIGHT "Surbrillance du bouton"
	AFX_IDS_COLOR_DISABLEDTEXT "Texte désactivé"
	AFX_IDS_COLOR_HIGHLIGHT "Surbrillance"
	AFX_IDS_COLOR_HIGHLIGHTTEXT "Texte en surbrillance"
	AFX_IDS_REGULAR         "Normal"
	AFX_IDS_BOLD            "Gras"
	AFX_IDS_ITALIC          "Italique"
	AFX_IDS_BOLDITALIC      "Italique gras"
	AFX_IDS_SAMPLETEXT      "AaBbYyZz"
#endif // !_AFX_NO_STOCKPPG_RESOURCES
	AFX_IDS_DISPLAYSTRING_FONT "(Police)"
	AFX_IDS_DISPLAYSTRING_COLOR "(Couleur)"
END

STRINGTABLE DISCARDABLE
BEGIN
	AFX_IDS_DISPLAYSTRING_PICTURE "(Image - %s)"
#ifndef _AFX_NO_STOCKPPG_RESOURCES
	AFX_IDS_PICTUREFILTER   "Tous les type d'images|*.bmp;*.cur;*.dib;*.emf;*.ico;*.wmf|Images en mode point (*.bmp;*.dib)|*.bmp;*.dib|Icônes/Curseurs (*.ico;*.cur)|*.ico;*.cur|Métafichiers (*.wmf;*.emf)|*.wmf;*.emf|Tous les fichiers (*.*)|*.*||"
#endif // !_AFX_NO_STOCKPPG_RESOURCES
	AFX_IDS_PICTYPE_UNKNOWN "Inconnu"
	AFX_IDS_PICTYPE_NONE    "Aucun"
	AFX_IDS_PICTYPE_BITMAP  "Image en mode point"
	AFX_IDS_PICTYPE_METAFILE "Métafichier"
	AFX_IDS_PICTYPE_ICON    "Icône"
#ifndef _AFX_NO_STOCKPPG_RESOURCES
	AFX_IDS_COLOR_PPG       "Page de propriété de couleur"
	AFX_IDS_COLOR_PPG_CAPTION "Couleurs"
	AFX_IDS_FONT_PPG        "Page de propriété de police"
	AFX_IDS_FONT_PPG_CAPTION "Polices"
	AFX_IDS_PICTURE_PPG     "Page de propriété d'image"
	AFX_IDS_PICTURE_PPG_CAPTION "Images"
#endif // !_AFX_NO_STOCKPPG_RESOURCES
	AFX_IDS_BORDERSTYLE_0   "0 - Aucun"
	AFX_IDS_BORDERSTYLE_1   "1 - Trait simple"
END

STRINGTABLE DISCARDABLE
BEGIN
	AFX_IDS_VERB_EDIT       "&Modifier"
	AFX_IDS_VERB_PROPERTIES "&Propriétés..."
END

#ifndef _AFX_NO_STOCKPPG_RESOURCES
STRINGTABLE DISCARDABLE
BEGIN
	AFX_IDP_PICTURECANTOPEN "Impossible d'ouvrir le fichier image %1. Le fichier peut ne pas exister, ou peut ne pas être lisible."
	AFX_IDP_PICTURECANTLOAD "Impossible de charger le fichier image %1. Le fichier peut avoir un format incorrect."
	AFX_IDP_PICTURETOOLARGE "Impossible de charger le fichier image %1. Le fichier est trop grand pour tenir en mémoire."
	AFX_IDP_PICTUREREADFAILED
							"Impossible de charger le fichier image %1. Echec à la lecture."
END

STRINGTABLE DISCARDABLE
BEGIN
	AFX_IDS_PICTUREBROWSETITLE "Parcourir les images"
END
#endif // !_AFX_NO_STOCKPPG_RESOURCES

#ifndef _AFX_NO_CTLERROR_RESOURCES
STRINGTABLE DISCARDABLE
BEGIN
	AFX_IDP_E_ILLEGALFUNCTIONCALL "Appel de fonction incorrect"
	AFX_IDP_E_OVERFLOW      "Dépassement de capacité"
	AFX_IDP_E_OUTOFMEMORY   "Mémoire épuisée"
	AFX_IDP_E_DIVISIONBYZERO "Division par zéro"
	AFX_IDP_E_OUTOFSTRINGSPACE "Espace de chaîne insuffisant"
	AFX_IDP_E_OUTOFSTACKSPACE "Espace pile insuffisant"
	AFX_IDP_E_BADFILENAMEORNUMBER "Nom ou numéro de fichier incorrect"
	AFX_IDP_E_FILENOTFOUND  "Fichier introuvable"
	AFX_IDP_E_BADFILEMODE   "Mode d'accès au  fichier incorrect"
	AFX_IDP_E_FILEALREADYOPEN "Fichier déjà ouvert"
	AFX_IDP_E_DEVICEIOERROR "Erreur d'entrée/sortie de périphérique"
	AFX_IDP_E_FILEALREADYEXISTS "Ce fichier existe déjà"
	AFX_IDP_E_BADRECORDLENGTH "Longueur d'enregistrement incorrecte"
	AFX_IDP_E_DISKFULL      "Disque plein"
	AFX_IDP_E_BADRECORDNUMBER "Numéro d'enregistrement incorrect"
	AFX_IDP_E_BADFILENAME   "Nom de fichier incorrect"
END

STRINGTABLE DISCARDABLE
BEGIN
	AFX_IDP_E_TOOMANYFILES  "Trop de fichiers"
	AFX_IDP_E_DEVICEUNAVAILABLE "Périphérique non disponible"
	AFX_IDP_E_PERMISSIONDENIED "Permission refusée"
	AFX_IDP_E_DISKNOTREADY  "Disque non prêt"
	AFX_IDP_E_PATHFILEACCESSERROR "Erreur dans le chemin d'accès"
	AFX_IDP_E_PATHNOTFOUND  "Chemin d'accès introuvable"
	AFX_IDP_E_INVALIDPATTERNSTRING "Chaîne de motif incorrecte"
	AFX_IDP_E_INVALIDUSEOFNULL "Utilisation incorrecte de NULL"
	AFX_IDP_E_INVALIDFILEFORMAT "Format de fichier incorrect"
	AFX_IDP_E_INVALIDPROPERTYVALUE "Valeur de propriété incorrecte"
	AFX_IDP_E_INVALIDPROPERTYARRAYINDEX "Index de tableau incorrect"
	AFX_IDP_E_SETNOTSUPPORTEDATRUNTIME "La propriété ne peut pas être définie au moment de l'exécution"
	AFX_IDP_E_SETNOTSUPPORTED "Propriété en lecture seule"
	AFX_IDP_E_NEEDPROPERTYARRAYINDEX
							"Vous devez spécifier un index de tableau lorsque vous utilisez un tableau de propriété"
	AFX_IDP_E_SETNOTPERMITTED "Cette propriété ne peut pas être définie pour ce contrôle"
	AFX_IDP_E_GETNOTSUPPORTEDATRUNTIME "La propriété ne peut pas être lue au moment de l'exécution"
END

STRINGTABLE DISCARDABLE
BEGIN
	AFX_IDP_E_GETNOTSUPPORTED "Propriété en écriture seule"
	AFX_IDP_E_PROPERTYNOTFOUND "Propriété introuvable"
	AFX_IDP_E_INVALIDCLIPBOARDFORMAT "Format de Presse-papiers incorrect"
	AFX_IDP_E_INVALIDPICTURE "Image incorrecte"
	AFX_IDP_E_PRINTERERROR  "Erreur d'imprimante"
	AFX_IDP_E_CANTSAVEFILETOTEMP
							"Impossible de créer le fichier temporaire nécessaire pour l'enregistrement"
	AFX_IDP_E_SEARCHTEXTNOTFOUND "Texte recherché introuvable"
	AFX_IDP_E_REPLACEMENTSTOOLONG "Texte de remplacement trop long"
END
#endif //!_AFX_NO_CTLERROR_RESOURCES

#endif //!_AFXDLL
#endif //__AFXOLECL_RC__
