#include "TextsCore.h"

STRINGTABLE
BEGIN
  UNKNOWN_KEY,
    "The server's host key was not found it the cache. You have no guarantee "
    "that the server is the computer you think it is. The server's key "
    "fingerprint is: %s\n"
    "\n"
    "If you trust this host, press Yes. "
    "To connect without adding host key to the cache, press No. "
    "To abandon the connection press Cancel.\n"
    "\n"
    "Continue connecting and add host key to the cache?"
  DIFFERENT_KEY,
    "WARNING - POTENTIAL SECURITY BREACH!\n"
    "\n"
    "The server's host key does not match the one WinSCP has "
    "is cache. This means that either the "
    "server administrator has changed the host key, or you "
    "have actually connected to another computer pretending "
    "to be the server. "
    "The new key fingerprint is: %s\n"
    "\n"
    "If you were expecting this change and trust the new key, "
    "press Yes to update cache and continue connecting. "
    "If you want to carry on connecting but without updating"
    "the cache, press No. "
    "If you want to abandon the connection completely, press "
    "Cancel. Pressing Cancel is the ONLY guaranteed safe "
    "choice.\n"
  OLD_KEY,
    "You are loading an SSH 2 private key which has an "
    "old version of the file format. This means your key "
    "file is not fully tamperproof. We recommend you convert "
    "your key to the new format.\n"
    "\n"
    "You can perform this conversion by loading the key "
    "into PuTTYgen and then saving it again."
  SCRIPT_HELP_HELP,
    "help [ <command> [ <command2> ... ] ]\n"
    "  Displays list of commands when no parameters are specified.\n"
    "  Displays help for each command when some are specified.\n"
    "alias:\n"
    "  man\n"
    "examples:\n"
    "  help\n"
    "  help ls\n"
  SCRIPT_EXIT_HELP,
    "exit\n"
    "  Closes all sessions and terminates the program.\n"
    "alias:\n"
    "  bye\n"
  SCRIPT_OPEN_HELP,
    "open <stored session>\n"
    "open [ sftp|scp:// ][ <user>@ [ :password ] ] <host> [ :<port> ]\n"
    "  Establishes connection to given host. Use either name of the stored\n"
    "  session or specify host, username, port and protocol directly.\n"
    "examples:\n"
    "  open\n"
    "  open sftp://martin@example.com:2222\n"
    "  open martin@example.com\n"
    "  open example.com\n"
  SCRIPT_CLOSE_HELP,
    "close [ <session> ]\n"
    "  Closes session specified by its number. When session number is not\n"
    "  specified, closes currently selected session.\n"
    "examples:\n"
    "  close\n"
    "  close 1\n"
  SCRIPT_SESSION_HELP,
    "session [ <session> ]\n"
    "  Makes session specified by its number active. When session number\n"
    "  is not specified, lists connected sessions.\n"
    "examples:\n"
    "  session\n"
    "  session 1\n"
  SCRIPT_PWD_HELP,
    "pwd\n"
    "  Prints current remote working directory for active session.\n"
  SCRIPT_CD_HELP,
    "cd [ <directory> ]\n"
    "  Changes remote working directory for active session.\n"
    "  If directory is not specified, changes to home directory.\n"
    "examples:\n"
    "  cd /home/martin\n"
    "  cd\n"
  SCRIPT_LS_HELP,
    "ls [ <directory> ]/[ <wildcard> ]\n"
    "  Lists the contents of specified remote directory. If directory is \n"
    "  not specified, lists working directory.\n"
    "  When wildcard is specified, it is treated as set of files to list.\n"
    "  Otherwise, all files are listed.\n"
    "alias:\n"
    "  dir\n"
    "examples:\n"
    "  ls\n"
    "  ls *.html\n"
    "  ls /home/martin\n"
  SCRIPT_LPWD_HELP,
    "lpwd\n"
    "  Prints current local working directory (valid for all sessions).\n"
  SCRIPT_LCD_HELP,
    "lcd <directory>\n"
    "  Changes local working directory for all sessions.\n"
    "examples:\n"
    "  lcd d:\\\n"
  SCRIPT_LLS_HELP,
    "lls [ <directory> ]\\[ <wildcard> ]\n"
    "  Lists the contents of specified local directory. If directory is \n"
    "  not specified, lists working directory.\n"
    "  When wildcard is specified, it is treated as set of files to list.\n"
    "  Otherwise, all files are listed.\n"
    "examples:\n"
    "  lls\n"
    "  lls *.html\n"
    "  lls d:\\\n"
  SCRIPT_RM_HELP,
    "rm <file> [ <file2> ... ]\n"
    "  Removes one or more remote files. If remote recycle bin is\n"
    "  configured, moves file to the bin instead of deleting it.\n"
    "  Filename can be replaced with wildcard to select multiple files.\n"
    "examples:\n"
    "  rm index.html\n"
    "  rm index.html about.html\n"
    "  rm *.html\n"
  SCRIPT_RMDIR_HELP,
    "rmdir <directory> [ <directory2> ... ]\n"
    "  Removes one or more remote directories. If remote recycle bin is\n"
    "  configured, moves directory to the bin instead of deleting it.\n"
    "examples:\n"
    "  rmdir public_html\n"
  SCRIPT_MV_HELP,
    "mv <file> [ <file2> ... ] [ <directory>/ ][ <newname> ]\n"
    "  Moves or renames one or more remote files. Destination directory or new\n"
    "  name or both must be specified. Destination directory must end with \n"
    "  slash. Operation mask can be used instead of new name.\n"
    "  Filename can be replaced with wildcard to select multiple files.\n"
    "alias:\n"
    "  rename\n"
    "examples:\n"
    "  mv index.html public_html/\n"
    "  mv index.html about.*\n"
    "  mv index.html public_html/about.*\n"
    "  mv public_html/index.html public_html/about.html /home/martin/*.bak\n"
    "  mv *.html /home/backup/*.bak\n"
  SCRIPT_CHMOD_HELP,
    "chmod <mode> <file> [ <file2> ... ]\n"
    "  Changes permissions of one or more remote files. Mode can be specified\n"
    "  as three or four-digit octal number.\n"
    "  Filename can be replaced with wildcard to select multiple files.\n"
    "examples:\n"
    "  chmod 644 index.html about.html\n"
    "  chmod 1700 /home/martin/public_html\n"
    "  chmod 644 *.html\n"
  SCRIPT_LN_HELP,
    "ln <target> <symlink>\n"
    "  Creates remote symlink.\n"
    "alias:\n"
    "  symlink\n"
    "examples:\n"
    "  ln /home/martin/public_html www\n"
  SCRIPT_MKDIR_HELP,
    "mkdir <directory>\n"
    "  Creates remote directory.\n"
    "examples:\n"
    "  mkdir public_html\n"
  SCRIPT_GET_HELP,
    "get <file> [ [ <file2> ... ] <directory>\\[ <newname> ] ]\n"
    "  Downloads one or more files from remote directory to local directory.\n"
    "  If only one parameter is specified downloads the file to local working\n"
    "  directory. If more parameters are specified, all except the last one\n"
    "  specify set of files to download. The last parameter specifies target\n"
    "  local directory and optionally operation mask to store file(s) under\n"
    "  different name. Destination directory must end with backslash. \n"
    "  Filename can be replaced with wildcard to select multiple files.\n"
    "  To download more files to current working directory use '.\\' as the\n"
    "  last parameter.\n"
    "  Use 'option' command to set transfer options.\n"
    "alias:\n"
    "  recv\n"
    "effective options:\n"
    "  transfer, confirm\n"
    "examples:\n"
    "  get index.html\n"
    "  get index.html about.html .\\\n"
    "  get index.html about.html d:\\www\\\n"
    "  get public_html/index.html d:\\www\\about.*\n"
    "  get *.html *.png d:\\www\\*.bak\n"
  SCRIPT_PUT_HELP,
    "put <file> [ [ <file2> ... ] <directory>/[ <newname> ] ]\n"
    "  Uploads one or more files from local directory to remote directory.\n"
    "  If only one parameter is specified uploads the file to remote working\n"
    "  directory. If more parameters are specified, all except the last one\n"
    "  specify set of files to upload. The last parameter specifies target\n"
    "  remote directory and optionally operation mask to store file(s) under\n"
    "  different name. Destination directory must end with slash. \n"
    "  Filename can be replaced with wildcard to select multiple files.\n"
    "  To upload more files to current working directory use './' as the\n"
    "  last parameter.\n"
    "  Use 'option' command to set transfer options.\n"
    "alias:\n"
    "  send\n"
    "effective options:\n"
    "  transfer, confirm\n"
    "examples:\n"
    "  put index.html\n"
    "  put index.html about.html ./\n"
    "  put index.html about.html /home/martin/public_html/\n"
    "  put d:\\www\\index.html about.*\n"
    "  put *.html *.png /home/martin/backup/*.bak\n"
  SCRIPT_OPTION_HELP,
    "option [ <option> [ <value> ] ]\n"
    "  If no parameters are specified, lists all script options and their\n"
    "  values. When one parameter is specified only, shows value of the option.\n"
    "  When two parameters are specified sets value of the option.\n"
    "  Initial values of some options are taken from application configuration,\n"
    "  however modifing the options does not change the application\n"
    "  configuration.\n"
    "options are:\n"
    "  batch       on/off\n"
    "              Toggles batch mode (all prompts are automatically replied\n"
    "              negatively). When 'on', it is recommended to set 'confirm'\n"
    "              to 'off' to allow overwrites.\n"
    "              Commands affected: nearly all\n"
    "  confirm     on/off\n"
    "              Toggles confirmations (overwrite, etc.).\n"
    "              Commands affected: get, put\n"
    "  transfer    binary/ascii/automatic\n"
    "              Transfer mode: binary, ascii (text), automatic (by extension).\n"
    "              Commands affected: get, put, synchronize, keepuptodate\n"
    "  synchdelete on/off\n"
    "              Should obsolete files be deleted during synchronisation?\n"
    "              Commands affected: synchronize, keepuptodate\n"
    "aliases:\n"
    "  ascii =  option transfer ascii\n"
    "  binary = option transfer binary\n"
    "examples:\n"
    "  option\n"
    "  option transfer\n"
    "  option confirm off\n"
  SCRIPT_SYNCHRONIZE_HELP,
    "synchronize local|remote|both [ <local directory> [ <remote directory> ] ]\n"
    "  When the first parameter is 'local' synchronises local directory with\n"
    "  remote one. When the first parameter is 'remote' synchronises remote\n"
    "  directory with local one. When the first parameter is 'both' synchronises\n"
    "  directories one against the other.\n"
    "  When directories are not specified, current working directories are\n"
    "  synchronized.\n"
    "  Obsolete files are deleted, if option 'synchdelete' is on.\n"
    "  Note: Overwrite confirmations are always off for the command.\n"
    "effective options:\n"
    "  transfer, synchdelete\n"
    "examples:\n"
    "  synchronize remote\n"
    "  synchronize both d:\\www /home/martin/public_html\n"
  SCRIPT_KEEPUPTODATE_HELP,
    "keepuptodate [ <local directory> [ <remote directory> ] ]\n"
    "  Watches for changes in local directory and reflects them on remote one.\n"
    "  When directories are not specified, current working directories are\n"
    "  synchronized. To stop watching for changes press Ctrl-C.\n"
    "  Obsolete files are deleted, if option 'synchdelete' is on.\n"
    "  Note: Overwrite confirmations are always off for the command.\n"
    "effective options:\n"
    "  transfer, synchdelete\n"
    "examples:\n"
    "  keepuptodate\n"
    "  keepuptodate d:\\www /home/martin/public_html\n"
END
