#include "TextsWin.h"

STRINGTABLE
BEGIN
        TRANSLATOR_INFO, ""
        MIDDLE_EAST, ""
        BIDI_MODE, ""
        FLIP_CHILDREN, ""

        WIN_ERROR_STRINGS, "WIN_ERROR"
        CREATE_LOCAL_DIR_ERROR, "Can't create folder '%s'."
        DELETE_LOCAL_FILE_ERROR, "Error deleting file '%s'."
        MASK_ERROR, "'%s' is invalid mask"
        WARN_FATAL_ERROR, "%s\n \nWarning: Aborting this operation will close connection!"
//        NEWSESSION_ERROR, "Can't open new session."
//        LOADSESSION_ERROR, "Can't open stored session '%s'."
        SESSION_NOT_EXISTS_ERROR, "Session named '%s' doesn't exist."
//        RECONNECT_ERROR, "Cannot launch another instance of %s to reconnect session."
        CREATE_SHORTCUT_ERROR, "Cannot create shortcut."
        CANNOT_OVERWRITE_SPECIAL_SESSION, "Cannot overwrite special session '%s'."
        EXPLORE_LOCAL_DIR_ERROR, "Cannot explore directory '%s'."
        NO_UPLOAD_LIST_ERROR, "No upload file list specified."
        DELETE_TEMP_EXECUTE_FILE_ERROR, "Cannot remove temporary directory '%s'."
        EXECUTE_FILE_ERROR, "Cannot open or execute file '%s'"
        EDITOR_ERROR, "Cannot launch editor '%s'."
        DOCUMENT_WAIT_ERROR, "Error waiting for document to close."
        SYNC_DIR_BROWSE_ERROR, "Cannot open corresponding directory in the opposite panel. Directory browsing synchronisation failed. It has been turned off."
        RESOLVE_SHORTCUT_ERROR, "Cannot resolve shortcut '%s'."
        BOOKMARK_INVALID_NAME, "'%s' is not valid Location Profile name."
        BOOKMARK_FOLDER_INVALID_NAME, "'%s' is not valid Location Profile folder name."
        DUPLICATE_BOOKMARK_FOLDER, "Location Profile folder with name '%s' already exists."
        CUSTOM_COMMAND_INVALID, "Custom command description cannot contain '%s'."
        CUSTOM_COMMAND_DUPLICATE, "Custom command with description '%s' already exists."
        CHECK_FOR_UPDATES_ERROR, "Error checking for application updates."
        CHECK_FOR_UPDATES_HTTP, "Cannot query application homepage for updates information."
        EXECUTE_APP_ERROR, "Cannot execute '%s'."
        FILE_NOT_FOUND, "File '%s' not found."
        ABSOLUTE_PATH_REQUIRED, "Only full (absolute) path may be used."
        UNKNOWN_PROTOCOL, "Unknown or undefined protocol (%s)"
        MUTEX_RELEASE_TIMEOUT, "Mutex was not released in required interval."
        DRAGEXT_MUTEX_RELEASE_TIMEOUT, "Shell drag extension mutex was not released in required interval."
        DRAGEXT_TARGET_UNKNOWN, "WinSCP was not able to detect folder, where the dragged file(s) was dropped. Either you have not dropped the file(s) to regular folder (e.g. Windows Explorer) or WinSCP shell drag extension is not installed. Install the extension or switch to compatible drag&&drop mode (from Preferences window), which uses temporary folder for downloads. It allows you to drop files to any destination."

        REGISTER_URL_ERROR, "Cannot register application to handle scp:// and sftp:// addresses."

        WIN_CONFIRMATION_STRINGS, "WIN_CONFIRMATION"
        CONFIRM_OVERWRITE_SESSION, "Session with name '%s' already exists. Overwrite?"
        CREATE_LOCAL_DIRECTORY, "Directory '%s' doesn't exist. Create?"
        CANCEL_OPERATION, "Cancel current operation?"
        CANCEL_OPERATION_FATAL, "Cancel file transfer?\n \nOperation can't be canceled in the middle of file transfer.\nPress 'Yes' to cancel file transfer and to close connection.\nPress 'No' to finish current file transfer.\nPress 'Cancel' to continue operation."
        CONFIRM_DELETE_FILE, "Are you sure you want to delete file '%s'?"
        CONFIRM_DELETE_FILES, "Are you sure you want to delete %d selected files?"
        CLOSE_SESSION, "Terminate session '%s' and close application?"
        NEVER_ASK_AGAIN, "Never ask me a&gain"
        DD_WARN_LACK_OF_TEMP_SPACE, "Too little space on temporary drive!\n\nWhen dragging files from remote directory, files are downloaded first to temporary directory '%s'. There is %s free on the drive. Total size of dragged files is %s.\n\nNote: Temporary directory can be changed from Preferences window.\n\nDo you still want to download files?"
        DD_WARN_UNKNOWN_TEMP_SPACE, "When dragging files from remote directory, files are downloaded first to temporary directory '%s'. There is %s free on the drive. Total size of dragged files is unknown (selection contains directories).\n\nNote: Temporary directory can be changed from Preferences window.\n\nDo you still want to download files?"
        ADD_BOOKMARK_CONFIRM, "Add directory '%s' to bookmarks?"
        RECONNECT_BUTTON, "&Reconnect"
        CONFIRM_CREATE_SHORTCUT, "Create desktop shortcut for session '%s'?"
        CONFIRM_CREATE_SENDTO, "Create Explorer's 'send to' shortcut for session '%s'?"
        CONFIRM_CREATE_ICON, "Create selected icon/shortcut?"
        CLOSE_SESSIONS, "Terminate all sessions and close application?"
        DELETE_BOOKMARK_FOLDER, "Delete selected Location Profile folder?"
        PREV_BUTTON, "&Previous"
        NEXT_BUTTON, "&Next"
        APPEND_BUTTON, "A&ppend"
        CONFIRM_REGISTER_URL, "Do you want to register application to handle scp:// and sftp:// addresses?"

        WIN_INFORMATION_STRINGS, "WIN_INFORMATION"
        APP_CAPTION, "%s - %s"
        COMPARE_NO_DIFFERENCES, "No differences found."
        SHORTCUT_INFO_TIP, "Opens session '%s'\n%s"
        SKIP_BUTTON, "&Skip"
        SAVE_CHANGES, "File was modified. Save changes?"
        DOCUMENT_WAIT, "Waiting for the document to close..."
        SESSION_SENDTO_HOOK_NAME, "%s (upload using SFTP or SCP)"
        SENDTO_HOOK_NAME, "%s (upload using SFTP or SCP)"
        BOOKMARK_INFO_TIP, "Local: %s\nRemote: %s"
        CUSTOM_COMMAND_TOUCH, "&Touch"
        CUSTOM_COMMAND_EXECUTE, "&Execute"
        CUSTOM_COMMAND_MOVE, "&Move"
        CUSTOM_COMMAND_MOVE_PARAM, "&Move to:"
        ERROR_LIST_COUNT, "%d error(s) occured during last operation. Do you want to see it/them?"
        ERROR_LIST_NUMBER, "Error %d of %d:\n%s"
        NO_NEW_VERSION, "You have the latest version."
        NEW_VERSION, "New version %s was released. Do you want to open application download page?\n\nHint: Use Help menu to open application history page to see list of new features. "
        CUSTOM_COMMANDS_PARAM_TITLE, "'%s' command parameter"
        CUSTOM_COMMANDS_PARAM_PROMPT, "'%s' command &parameter value:"
        PROTOCOL_URL_DESC, "URL: %s Protocol"

        WIN_STATUS_STRINGS, "WIN_STATUS_STRINGS"
        STATUS_CLOSED, "Connection terminated."
        STATUS_INITWINSOCK, "Initialisation..."
        STATUS_LOOKUPHOST, "Searching for host..."
        STATUS_CONNECT, "Connecting to host..."
        STATUS_AUTHENTICATE, "Authenticating..."
        STATUS_AUTHENTICATED, "Authenticated."
        STATUS_STARTUP, "Starting the session..."
        STATUS_READY, "Session started."
        STATUS_OPEN_DIRECTORY, "Reading remote directory..."

        WIN_FORMS_STRINGS, "WIN_FORMS_STRINGS"
        LOG_NOLOG, "No session log."
        LOG_NOLOGFILE, "Logging to file disabled."
        LOG_NOLOGCAPTION, "No log"
        LOG_CAPTION, "Session '%s' log"
        COPY_FILE, "%s file '%s' to %s"
        COPY_FILES, "%s %d files to %s"
        COPY_COPY, "Copy"
        COPY_MOVE, "Move"
        COPY_TOLOCAL, "local directory"
        COPY_TOREMOTE, "remote directory"
        COPY_TODROP, "drop target"
        COPY_COPY_CAPTION, "Copy"
        COPY_MOVE_CAPTION, "Move"
        COPY_COPY_BUTTON, "Copy"
        COPY_MOVE_BUTTON, "Move"
        PROGRESS_SETPROPERTIES, "Setting properties"
        PROGRESS_DELETE, "Deleting"
        PROGRESS_MOVE, "Moving"
        PROGRESS_COPY, "Copying"
        PROGRESS_DRAGDROP_TARGET, "Temporary directory"
        NEW_FOLDER, "New folder"
        CREATE_FOLDER_CAPTION, "Create folder"
        CREATE_FOLDER_PROMPT, "&Enter new folder name"
        SELECT_MASK_SELECT_CAPTION, "Select"
        SELECT_MASK_DESELECT_CAPTION, "Deselect"
        PROPERTIES_FILE, "%d file"
        PROPERTIES_FILES, "%d files"
        PROPERTIES_DIRECTORY, "%d folder"
        PROPERTIES_DIRECTORIES, "%d folders"
        PROPERTIES_SYMLINK, "%d symbolic link"
        PROPERTIES_SYMLINKS, "%d symbolic links"
        PROPERTIES_FILE_CAPTION, "%s Properties"
        PROPERTIES_FILES_CAPTION, "%s, ... Properties"
        PROPERTIES_INVALID_GROUP, "Enter valid group name."
        PROPERTIES_INVALID_OWNER, "Enter valid owner name."
        EXPLORER_BACK_HINT, "Back to %s"
        EXPLORER_FORWARD_HINT, "Forward to %s"
        STATUS_SENT_HINT, "Bytes sent"
        STATUS_RECEIVED_HINT, "Bytes received"
        STATUS_DURATION_HINT, "Connection time"
        STATUS_COMPRESSION_HINT, "Compression (%s)"
        STATUS_COMPRESSION2_HINT, "Compression (client \273 server: %s, server \273 client: %s)"
        STATUS_ENCRYPTION_HINT, "Encryption algorithm (%s)"
        STATUS_ENCRYPTION2_HINT, "Encryption algorithm (client \273 server: %s, server \273 client: %s)"
        STATUS_VERSION_HINT, "SSH protocol version: %d"
        STATUS_FILEINFO_HINT, "File selection info"
        SAVEDSESSION_HINT, "Open saved session '%s'"
        LICENCE_CAPTION, "%s licence"
        SYCHRONIZE_DESCRIPTION, "Watch for new or changed files in local directory '%s' and automatically upload them to remote directory '%s'."
        SYCHRONIZE_WAITING, "Watching for changes in local directory '%s'."
        CIPHER_NAME_WARN, "-- warn below here --"
        CIPHER_NAME_3DES, "3DES"
        CIPHER_NAME_BLOWFISH, "Blowfish"
        CIPHER_NAME_AES, "AES (SSH2 only)"
        CIPHER_NAME_DES, "DES"
        SET_DEFAULT_SESSION_SETTINGS, "Set current session settings as default?"
        OPEN_DIRECTORY_BROWSE_CAPTION, "Open directory"
        OPEN_DIRECTORY_ADD_BOOMARK_ACTION, "Manage bookmarks"
        STATUS_FS_PROTOCOL, "Protocol in use (%s)"
        RESUME_ENABLED, "Enabled"
        RESUME_DISABLED, "Disabled"
        RESUME_NOT_AVAILABLE, "N/A"
        TRANSFER_ASCII, "Text"
        TRANSFER_BINARY, "Binary"
        EDITOR_LINE_STATUS, "Line: %d/%d"
        EDITOR_COLUMN_STATUS, "Column: %d"
        EDITOR_CHARACTER_STATUS, "Character: %d (0x%2x)"
        EDITOR_MODIFIED, "Modified"
        EDITOR_FIND_END, "Could not find the string '%s'."
        EDITOR_REPLACE_END, "Total replacements performed: %d"
        EDITOR_GO_TO_LINE, "Go to line"
        EDITOR_LINE_NUMBER, "Line number:"
        EDITOR_INVALID_LINE, "Invalid line number."
        LINK_EDIT_CAPTION, "Edit link/shortcut"
        LINK_ADD_CAPTION, "Add link/shortcut"
        STATUS_DISCONNECTED, "Disconnected."
        STATUS_CONNECTING, "Connecting..."
        OPENEDSESSION_HINT, "Select session '%s'"
        ADD_BOOKMARK_CAPTION, "Add Location Profile"
        ADD_BOOKMARK_PROMPT, "Location Profile name:"
        MOVE_BOOKMARK_CAPTION, "Move Location Profile"
        MOVE_BOOKMARK_PROMPT, "New folder name:"
        SAVE_SESSION_CAPTION, "Save session as"
        SAVE_SESSION_PROMPT, "&Save session as:"
        RENAME_BOOKMARK_CAPTION, "Rename Location Profile"
        RENAME_BOOKMARK_PROMPT, "New profile name"
        PROGRESS_CUSTOM_COMAND, "Executing custom command"
        CUSTOM_COMMAND_HINT, "Execute custom command '%s'"
        LOGIN_BUG_ON, "On"
        LOGIN_BUG_OFF, "Off"
        LOGIN_BUG_AUTO, "Auto"
        CUSTOM_COMMAND_PARAMFMT, "%s/%s"
        CUSTOM_COMMAND_DIRECTORIES, "D"
        CUSTOM_COMMAND_RECURSE, "R"
        EDITOR_FONT_FMT, "%s, %d pt"
        PROPERTIES_UNKNOWN_SIZE, "Unknown"
        PROGRESS_CALCULATE_SIZE, "Calculating directory size"
        PASSWORD_TITLE, "Enter password"
        PASSPHRASE_TITLE, "Enter key passphrase"
        SERVER_PASSWORD_TITLE, "Server prompt"
        CLEANUP_CONFIG, "General configuration"
        CLEANUP_SESSIONS, "Stored sessions"
        CLEANUP_HOSTKEYS, "Cached host keys"
        CLEANUP_INIFILE, "Configuration INI file"
        CLEANUP_SEEDFILE, "Random seed file"
        SELECT_LOCAL_DIRECTORY, "Select local directory."
        PROGRESS_REMOTE_MOVE, "Moving"
        REMOTE_MOVE_FILE, "Move file '%s' to remote directory:"
        REMOTE_MOVE_FILES, "Move %d files to remote directory:"
        REMOTE_MOVE_TITLE, "Move"

        WIN_VARIABLE_STRINGS, "WIN_VARIABLE"
        WINSCP_COPYRIGHT, "Copyright © 2000-2004 Martin Prikryl"
        HOMEPAGE_URL, "http://winscp.sourceforge.net/"
        HISTORY_URL, "http://winscp.sourceforge.net/eng/history.php"
        REQUIREMENTS_URL, "http://winscp.sourceforge.net/eng/requirements.php"
        FORUM_URL, "http://winscp.sourceforge.net/eng/forum.php"
        UPDATES_URL, "http://winscp.sourceforge.net/updates.php"
        DOWNLOAD_URL, "http://winscp.sourceforge.net/eng/download.php"
        DONATE_URL, "http://winscp.sourceforge.net/eng/donate.php"

END
