#include "TextsWin.h"

STRINGTABLE
BEGIN
  DND_DOWNLOAD_MOVE_WARNING,
"You are trying to move remote file(s) to destination to which WinSCP cannot "
"transfer files directly. Files will be downloaded to temporary directory "
"instead. Transfer to final destination will be left to responsibility "
"of target application (e.g. Windows Explorer), which WinSCP cannot control. "
"Source files will be deleted just after download to temporary directory "
"finishes. If target application fails to deliver temporary files, they may "
"be lost. Please, consider copying files instead of moving.\n"
"Hint: To copy files hold down Ctrl key while dragging.\n"
"\n"
"Do you still want to move the files?"
  USAGE4,
"WinSCP, %s\n"
"%s\n"
"\n"
"Usage:\n"
"%APP% session\n"
"%APP% [(scp|sftp|ftp)://][user[:password]@]host[:port][/path/[file]]\n"
"%APP% [session] [/console] [/script=file] [/command command1 command2 ...]\n"
"%APP% [session] /synchronize [local_dir] [remote_dir] [/defaults]\n"
"%APP% [session] /keepuptodate [local_dir] [remote_dir] [/defaults]\n"
"%APP% [session] /privatekey=<key> /hostkey=<fingerprint>\n"
"%APP% [session] /timeout=<sec> /passive\n"
"%APP% /ini=<inifile> /log=<logfile>\n"
"%APP% /update\n"
"%APP% /help\n"
"\n"
" session       Name of stored session or direct session specification.\n"
" /console      Console (text) mode. Default mode, when invoked\n"
"               using %APP%.com.\n"
" /script       Executes batch script file. If the script does not end with\n"
"               'exit' command, normal interactive mode follows.\n"
" /command      Execute list of script commands.\n"
" /synchronize  Synchronizes content of two directories.\n"
" /keepuptodate Starts Keep remote directory up to date function.\n"
" /defaults     Starts operation without showing options dialog.\n"
" /ini=         Path to configuration INI-file.\n"
" /log=         Turns on logging to file.\n"
" /privatekey=  Private key file.\n"
" /timeout=     Server response timeout.\n"
" /hostkey=     Fingerprint of server hostkey.\n"
" /passive      Passive mode (FTP protocol only).\n"
" /update       Queries application homepage for updates.\n"
" /help         Prints this usage.\n"
END
