#define LICENCE         1001
#define LICENCE_PUTTY   1002
#define LICENCE_PUTTY_2 1003
#define LICENCE_RX      1004
#define LICENCE_RX_2    1005
#define LICENCE_RX_3    1006
#define LICENCE_RX_4    1007
#define LICENCE_RX_5    1008
#define LICENCE_RX_6    1009
#define LICENCE_RX_7    1010
#define LICENCE_RX_8    1011

STRINGTABLE
BEGIN
  LICENCE,
    "WinSCP\n"
    "Author provides this software with following license "
    "agreement. By getting, using or copying of this software you "
    "agree on reading, understanding and obeying this license "
    "agreement and all conditions included in it. \n"
    "\n"
    "WinSCP is freeware, which means that everybody has a "
    "permission for using, copying and distribution of this "
    "application for any reasons and without any payments. This "
    "program mustn't be modified and all files, with which the "
    "program was obtained, must accompany the program. \n"
    "\n"
    "Because license for using WinSCP is free, there is provided "
    "no kind of warranty. This program is provided \"AS IS\". In "
    "any case, neither author nor any other party providing this "
    "software won't be responsible for loses caused by using or "
    "not be able to use this software (including a lose of data). \n"
    "\n"
    "Part of the code of this software comes from program PuTTY "
    "0.53b (c) 1997-2002 Simon Tatham. License agreements for using "
    "PuTTY 0.53b, are part of WinSCP license agreement.\n"
  LICENCE_PUTTY,
    "PuTTY\n"
    "PuTTY is copyright 1997-2002 Simon Tatham.\n"
        "\n"
    "Portions copyright Robert de Bath, Joris van Rantwijk, Delian "
    "Delchev, Andreas Schultz, Jeroen Massar, Wez Furlong, Nicolas Barry, "
    "Justin Bradford, and CORE SDI S.A.\n"
        "\n"
    "Permission is hereby granted, free of charge, to any person "
    "obtaining a copy of this software and associated documentation files "
    "(the \"Software\"), to deal in the Software without restriction, "
    "including without limitation the rights to use, copy, modify, merge, "
    "publish, distribute, sublicense, and/or sell copies of the Software, "
    "and to permit persons to whom the Software is furnished to do so, "
    "subject to the following conditions:\n"
        "\n"
  LICENCE_PUTTY_2,
    "The above copyright notice and this permission notice shall be "
    "included in all copies or substantial portions of the Software. \n"
        "\n"
    "THE SOFTWARE IS PROVIDED \"AS IS\", WITHOUT WARRANTY OF ANY KIND, "
    "EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF "
    "MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND "
    "NONINFRINGEMENT.  IN NO EVENT SHALL THE COPYRIGHT HOLDERS BE LIABLE "
    "FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF "
    "CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION "
    "WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE."
  LICENCE_RX,
    "RX library\n"
    "RX Library Software License Agreement\n"
    "\n"
    "BEFORE PROCEEDING WITH THE INSTALLATION "
    "AND/OR USE OF THIS SOFTWARE, CAREFULLY "
    "READ THE FOLLOWING TERMS AND CONDITIONS "
    "OF THIS LICENSE AGREEMENT AND LIMITED "
    "WARRANTY (The \"Agreement\").\n"
    "\n"
    "BY INSTALLING OR USING THIS SOFTWARE YOU "
    "INDICATE YOUR ACCEPTANCE OF THIS "
    "AGREEMENT. IF YOU DO NOT ACCEPT OR AGREE "
    "WITH THESE TERMS, YOU MAY NOT INSTALL OR "
    "USE THIS SOFTWARE!\n"
    "\n"
  LICENCE_RX_2,
    "PREAMBLE\n"
    "\n"
    "The terms and conditions of the RX Library "
    "Software License Agreement have one major "
    "goal in mind; to foster a development "
    "community based around the RX components "
    "library and associated source code. "
    "RX Library does however reserve the right "
    "as the sole distributor of the library "
    "source code. Hence although we encourage "
    "you to change and modify the library to "
    "suit your needs, you may not distribute "
    "derivative works based on the library "
    "source code without express written "
    "permission from RX Library authors. "
    "Worthwhile changes and modifications to "
    "the libraries may be submitted to RX "
    "Library authors for integration into a"
    "future release of the product.\n"
    "\n"
  LICENCE_RX_3,
    "LICENSE\n"
    "\n"
    "This software, including documentation, "
    "source code, object code and/or additional "
    "materials (the \"Software\") is owned by "
    "RXLib authors.\n"
    "This Agreement does not provide you with "
    "title or ownership of Product, but only a "
    "right of limited use as outlined in this "
    "license agreement. RX Library authors "
    "hereby grant you a non-exclusive, "
    "royalty free license to use the Software "
    "as set forth below:\n"
    "\n"
  LICENCE_RX_4,
    " . integrate the Software with your\n"
    "   Applications, subject to the\n"
    "   redistribution terms below.\n"
    " . modify or adapt the Software in whole\n"
    "   or in part for the development of \n"
    "   Applications based on the Software.\n"
    " . use portions of the RX Library source\n"
    "   code or RX Library Demo Programs in\n"
    "   your own products and libraries.\n"
    "\n"
  LICENCE_RX_5,
    "REDISTRIBUTION RIGHTS\n"
    "\n"
    "You are granted a non-exclusive, "
    "royalty-free right to reproduce and "
    "redistribute executable files created "
    "using the Software (the \"Executable Code\") "
    "in conjunction with software products that "
    "you develop and/or market (the "
    "\"Applications\"). \n"
    "\n"
    "RESTRICTIONS\n"
    "\n"
    "Without the expressed, written consent of "
    "RX Library authors, you may NOT:\n"
    "\n"
    " . distribute modified versions of the \n"
    "   Software, in whole or in part.\n"
    " . rent or lease the Software.\n"
    " . sell any portion of the Software on \n"
    "   its own, without integrating it into \n"
    "   your Applications as Executable Code.\n"
    "\n"
  LICENCE_RX_6,
    "SELECTION AND USE\n"
    "\n"
    "You assume full responsibility for the "
    "selection of the Software to achieve your "
    "intended results and for the installation, "
    "use and results obtained from the Software.\n"
    "\n"
    "LIMITED WARRANTY\n"
    "\n"
    "THIS SOFTWARE IS PROVIDED \"AS IS\" WITHOUT "
    "WARRANTY OF ANY KIND EITHER EXPRESSED OR "
    "IMPLIED, INCLUDING BUT NOT LIMITED TO THE "
    "IMPLIED WARRANTIES MERCHANTIBILITY AND "
    "FITNESS FOR A PARTICULAR PURPOSE. THE "
    "ENTIRE RISK AS TO THE QUALITY AND "
    "PERFORMANCE OF THE PRODUCT IS WITH YOU. "
    "SHOULD THE PRODUCT PROVE DEFECTIVE, YOU "
    "ASSUME THE COST OF ALL NECESSARY SERVICING "
    "OR ERROR CORRECTION.\n"
    "\n"
  LICENCE_RX_7,
    "RX LIBRARY AUTHORS DO NOT WARRANT THAT "
    "THE FUNCTIONS CONTAINED IN THE SOFTWARE "
    "WILL MEET YOUR REQUIREMENTS OR THAT THE "
    "OPERATION OF THE SOFTWARE WILL BE "
    "UNINTERRUPTED OR ERROR FREE.\n"
    "\n"
    "No oral or written information given by "
    "RX Library shall create a warranty.\n"
    "\n"
    "LIMITATION OF REMEDIES AND LIABILITY.\n"
    "\n"
  LICENCE_RX_8,
    "IN NO EVENT SHALL RX LIBRARY AUTHORS, OR "
    "ANY OTHER PARTY WHO MAY HAVE DISTRIBUTED "
    "THE SOFTWARE AS PERMITTED ABOVE, BE LIABLE "
    "FOR DAMAGES, INCLUDING ANY GENERAL, "
    "SPECIAL, INCIDENTAL, OR CONSEQUENTIAL "
    "DAMAGES ARISING OUT OF THE USE OR "
    "INABILITY TO USE THE SOFTWARE (INCLUDING "
    "BUT NOT LIMITED TO LOSS OF DATA OR DATA "
    "BEING RENDERED INACCURATE OR LOSSES "
    "SUSTAINED BY YOU OR THIRD PARTIES OR "
    "FAILURE OF THE SOFTWARE TO OPERATE WITH "
    "ANY OTHER PRODUCTS), EVEN IF SUCH HOLDER "
    "OR OTHER PARTY HAS BEEN ADVISED OF THE "
    "POSSIBILITY OF SUCH DAMAGES.\n"
    "\n"
    "If you have any questions regarding this "
    "agreement, please contact RX Library "
    "authors at their e-mail addresses: \n"
    "\n"
    "  fkozh@iname.com\n"
    "  igorp@mail.com\n"
    "  korolev@usa.net\n"
    "\n"
    "RX Library Web Site: http://www.rxlib.com"
END
