<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="WinSCP rules (subset of Microsoft All Rules)" ToolsVersion="10.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1026" Action="None" />
    <Rule Id="CA1704" Action="None" />
    <Rule Id="CA2204" Action="None" />
  </Rules>
</RuleSet>
