// indicate.rc : RC file for all standard AFX status indicators
//
// This is a part of the Microsoft Foundation Classes C++ library.
// Copyright (C) 1992-1998 Microsoft Corporation
// All rights reserved.
//
// This source code is only intended as a supplement to the
// Microsoft Foundation Classes Reference and related
// electronic documentation provided with the library.
// See these sources for detailed information regarding the
// Microsoft Foundation Classes product.

#define APSTUDIO_READONLY_SYMBOLS
#include "afxres.h"
#undef APSTUDIO_READONLY_SYMBOLS

#ifdef APSTUDIO_INVOKED
// This resource will prevent the App Studio user from saving this file
1 TEXTINCLUDE DISCARDABLE
BEGIN
"< 不能更改标准 MFC 资源! >\0"
END
#endif    // APSTUDIO_INVOKED


STRINGTABLE DISCARDABLE
BEGIN
	ID_INDICATOR_EXT,           "扩展名"
	ID_INDICATOR_CAPS,          "大写"           // supported
	ID_INDICATOR_NUM,           "数字"           // supported
	ID_INDICATOR_SCRL,          "滚动"          // supported
	ID_INDICATOR_OVR,           "改写"
	ID_INDICATOR_REC,           "记录"
	ID_INDICATOR_KANA,          "假名"
END
