#include "..\\resource\\TextsFileZilla.rc"
#include "..\\resource\\TextsCore1.rc"
#include "..\\resource\\TextsCore2.rc"
#include "..\\resource\\TextsWin1.rc"

Z_1_SITE ICON "..\\resource\\Site.ico"
Z_2_SITE_FOLDER ICON "..\\resource\\SiteFolder.ico"
Z_3_WORKSPACE ICON "..\\resource\\Workspace.ico"

LICENSE RCDATA "License.txt"
LICENSE_EXPAT RCDATA "LicenseExpat.txt"
