#include "TextsCore.h"

STRINGTABLE
BEGIN
  UNKNOWN_KEY4,
    "**Continue connecting to an unknown server and "
    "add its host key to a cache?**\n"
    "\n"
    "The server's host key was not found in the cache. You have no guarantee "
    "that the server is the computer you think it is.\n"
    "\n"
    "The server's %s key details are:\n"
    "\n"
    "%s\n"
    "\n"
    "If you trust this host, press Yes. "
    "To connect without adding host key to the cache, press No. "
    "To abandon the connection press Cancel."
  DIFFERENT_KEY5,
    "**WARNING – POTENTIAL SECURITY BREACH!**\n"
    "\n"
    "The server's host key does not match the one WinSCP has "
    "in cache. This means that either the "
    "server administrator has changed the host key, "
    "the server presents different key under certain circumstance, "
    "or you have actually connected to another computer pretending "
    "to be the server.\n"
    "\n"
    "The new %s key details are:\n"
    "\n"
    "%s\n"
    "\n"
    "If you were expecting this change, trust the new key and "
    "want to continue connecting to the server, "
    "either press Update to update cache, or "
    "press Add to add the new key to the cache while keeping the old one(s). "
    "If you want to carry on connecting but without updating "
    "the cache, press Skip. "
    "If you want to abandon the connection completely, press "
    "Cancel. Pressing Cancel is the ONLY guaranteed safe "
    "choice."
  OLD_KEY,
    "You are loading an SSH-2 private key which has an "
    "old version of the file format. This means your key "
    "file is not fully tamperproof. We recommend you convert "
    "your key to the new format.\n"
    "\n"
    "You can perform this conversion by loading the key "
    "into PuTTYgen and then saving it again."
  SCRIPT_HELP_HELP,
    "help [ <command> [ <command2> ... ] ]\n"
    "  Displays list of commands when no parameters are specified.\n"
    "  Displays help for each command when some are specified.\n"
    "alias:\n"
    "  man\n"
    "examples:\n"
    "  help\n"
    "  help ls\n"
  SCRIPT_EXIT_HELP,
    "exit\n"
    "  Closes all sessions and terminates the program.\n"
    "alias:\n"
    "  bye\n"
  SCRIPT_OPEN_HELP10,
    "open <site>\n"
    "open sftp|scp|ftp[es]|dav[s]|s3 :// [ <user> [ :password ] @ ] <host> [ :<port> ]\n"
    "  Establishes connection to given host. Use either name of the site or\n"
    "  specify host, username, port and protocol directly.\n"
    "switches:\n"
    "  -privatekey=<file> SSH private key file\n"
    "  -hostkey=<fingerprint> Fingerprint of server host key (SFTP and SCP only).\n"
    "  -clientcert=<file> TLS/SSL client certificate file\n"
    "  -certificate=<fingerprint> Fingerprint of TLS/SSL certificate\n"
    "                     (FTPS and WebDAVS only)\n"
    "  -passphrase=<phr>  Private key passphrase\n"
    "  -passive=on|off    Passive mode (FTP protocol only)\n"
    "  -implicit          Implicit TLS/SSL (FTP protocol only)\n"
    "  -explicit          Explicit TLS/SSL (FTP protocol only)\n"
    "  -timeout=<sec>     Server response timeout\n"
    "  -username=<user>   An alternative way to provide a username\n"
    "  -password=<password> An alternative way to provide a password\n"
    "  -rawsettings setting1=value1 setting2=value2 ...\n"
    "                     Configures any site settings using raw format\n"
    "                     as in an INI file\n"
    "  -filezilla         Load <site> from FileZilla site manager\n"
    "  -newpassword=<password> Changes password to <password>\n"
    "examples:\n"
    "  open\n"
    "  open sftp://martin@example.com:2222 -privatekey=mykey.ppk\n"
    "  open martin@example.com\n"
    "  open example.com\n"
  SCRIPT_CLOSE_HELP,
    "close [ <session> ]\n"
    "  Closes session specified by its number. When session number is not\n"
    "  specified, closes currently selected session.\n"
    "examples:\n"
    "  close\n"
    "  close 1\n"
  SCRIPT_SESSION_HELP,
    "session [ <session> ]\n"
    "  Makes session specified by its number active. When session number\n"
    "  is not specified, lists connected sessions.\n"
    "examples:\n"
    "  session\n"
    "  session 1\n"
  SCRIPT_PWD_HELP,
    "pwd\n"
    "  Prints current remote working directory for active session.\n"
  SCRIPT_CD_HELP,
    "cd [ <directory> ]\n"
    "  Changes remote working directory for active session.\n"
    "  If directory is not specified, changes to home directory.\n"
    "examples:\n"
    "  cd /home/martin\n"
    "  cd\n"
  SCRIPT_LS_HELP2,
    "ls [ <directory> ]/[ <wildcard> ]\n"
    "  Lists the contents of specified remote directory. If directory is \n"
    "  not specified, lists working directory.\n"
    "  When wildcard is specified, it is treated as set of files to list.\n"
    "  Otherwise, all files are listed.\n"
    "alias:\n"
    "  dir\n"
    "effective option:\n"
    "  failonnomatch\n"
    "examples:\n"
    "  ls\n"
    "  ls *.html\n"
    "  ls /home/martin\n"
  SCRIPT_LPWD_HELP,
    "lpwd\n"
    "  Prints current local working directory (valid for all sessions).\n"
  SCRIPT_LCD_HELP,
    "lcd <directory>\n"
    "  Changes local working directory for all sessions.\n"
    "example:\n"
    "  lcd d:\\\n"
  SCRIPT_LLS_HELP2,
    "lls [ <directory> ]\\[ <wildcard> ]\n"
    "  Lists the contents of specified local directory. If directory is \n"
    "  not specified, lists working directory.\n"
    "  When wildcard is specified, it is treated as set of files to list.\n"
    "  Otherwise, all files are listed.\n"
    "effective option:\n"
    "  failonnomatch\n"
    "examples:\n"
    "  lls\n"
    "  lls *.html\n"
    "  lls d:\\\n"
  SCRIPT_RM_HELP2,
    "rm <file> [ <file2> ... ]\n"
    "  Removes one or more remote files. If remote recycle bin is\n"
    "  configured, moves file to the bin instead of deleting it.\n"
    "  Filename can be replaced with wildcard to select multiple files.\n"
    "effective option:\n"
    "  failonnomatch\n"
    "examples:\n"
    "  rm index.html\n"
    "  rm index.html about.html\n"
    "  rm *.html\n"
  SCRIPT_RMDIR_HELP,
    "rmdir <directory> [ <directory2> ... ]\n"
    "  Removes one or more remote directories. If remote recycle bin is\n"
    "  configured, moves directory to the bin instead of deleting it.\n"
    "example:\n"
    "  rmdir public_html\n"
  SCRIPT_MV_HELP2,
    "mv <file> [ <file2> ... ] [ <directory>/ ][ <newname> ]\n"
    "  Moves or renames one or more remote files. Destination directory or new\n"
    "  name or both must be specified. Destination directory must end with \n"
    "  slash. Operation mask can be used instead of new name.\n"
    "  Filename can be replaced with wildcard to select multiple files.\n"
    "alias:\n"
    "  rename\n"
    "effective option:\n"
    "  failonnomatch\n"
    "examples:\n"
    "  mv index.html public_html/\n"
    "  mv index.html about.*\n"
    "  mv index.html public_html/about.*\n"
    "  mv public_html/index.html public_html/about.html /home/martin/*.bak\n"
    "  mv *.html /home/backup/*.bak\n"
  SCRIPT_CHMOD_HELP2,
    "chmod <mode> <file> [ <file2> ... ]\n"
    "  Changes permissions of one or more remote files. Mode can be specified\n"
    "  as three or four-digit octal number.\n"
    "  Filename can be replaced with wildcard to select multiple files.\n"
    "effective option:\n"
    "  failonnomatch\n"
    "examples:\n"
    "  chmod 644 index.html about.html\n"
    "  chmod 1700 /home/martin/public_html\n"
    "  chmod 644 *.html\n"
  SCRIPT_LN_HELP,
    "ln <target> <symlink>\n"
    "  Creates remote symbolic link.\n"
    "alias:\n"
    "  symlink\n"
    "example:\n"
    "  ln /home/martin/public_html www\n"
  SCRIPT_MKDIR_HELP,
    "mkdir <directory>\n"
    "  Creates remote directory.\n"
    "example:\n"
    "  mkdir public_html\n"
  SCRIPT_GET_HELP8,
    "get <file> [ [ <file2> ... ] <directory>\\[ <newname> ] ]\n"
    "  Downloads one or more files from remote directory to local directory.\n"
    "  If only one parameter is specified downloads the file to local working\n"
    "  directory. If more parameters are specified, all except the last one\n"
    "  specify set of files to download. The last parameter specifies target\n"
    "  local directory and optionally operation mask to store file(s) under\n"
    "  different name. Destination directory must end with backslash. \n"
    "  Filename can be replaced with wildcard to select multiple files.\n"
    "  To download more files to current working directory use '.\\' as the\n"
    "  last parameter.\n"
    "alias:\n"
    "  recv, mget\n"
    "switches:\n"
    "  -delete          Delete source remote file(s) after transfer\n"
    "  -resume          Resume transfer if possible (SFTP and FTP protocols only)\n"
    "  -append          Append file to end of target file (SFTP protocol only)\n"
    "  -preservetime    Preserve timestamp\n"
    "  -nopreservetime  Do not preserve timestamp\n"
    "  -speed=<kbps>    Limit transfer speed (in KB/s)\n"
    "  -transfer=<mode> Transfer mode: binary, ascii, automatic\n"
    "  -filemask=<mask> Sets file mask.\n"
    "  -resumesupport=<state> Configures resume support.\n"
    "                   Possible values are 'on', 'off' or threshold\n"
    "  -neweronly       Transfer new and updated files only\n"
    "  -latest          Transfer the latest file only\n"
    "effective options:\n"
    "  confirm, failonnomatch, reconnecttime\n"
    "examples:\n"
    "  get index.html\n"
    "  get -delete index.html about.html .\\\n"
    "  get index.html about.html d:\\www\\\n"
    "  get public_html/index.html d:\\www\\about.*\n"
    "  get *.html *.png d:\\www\\*.bak\n"
  SCRIPT_PUT_HELP8,
    "put <file> [ [ <file2> ... ] <directory>/[ <newname> ] ]\n"
    "  Uploads one or more files from local directory to remote directory.\n"
    "  If only one parameter is specified uploads the file to remote working\n"
    "  directory. If more parameters are specified, all except the last one\n"
    "  specify set of files to upload. The last parameter specifies target\n"
    "  remote directory and optionally operation mask to store file(s) under\n"
    "  different name. Destination directory must end with slash. \n"
    "  Filename can be replaced with wildcard to select multiple files.\n"
    "  To upload more files to current working directory use './' as the\n"
    "  last parameter.\n"
    "alias:\n"
    "  send, mput\n"
    "switches:\n"
    "  -delete             Delete source local file(s) after transfer\n"
    "  -resume             Resume transfer if possible (SFTP and FTP protocols only)\n"
    "  -append             Append file to end of target file (SFTP protocol only)\n"
    "  -preservetime       Preserve timestamp\n"
    "  -nopreservetime     Do not preserve timestamp\n"
    "  -permissions=<mode> Set permissions\n"
    "  -nopermissions      Keep default permissions\n"
    "  -speed=<kbps>       Limit transfer speed (in KB/s)\n"
    "  -transfer=<mode>    Transfer mode: binary, ascii, automatic\n"
    "  -filemask=<mask>    Sets file mask.\n"
    "  -resumesupport=<state> Configures resume support.\n"
    "                      Possible values are 'on', 'off' or threshold\n"
    "  -neweronly          Transfer new and updated files only\n"
    "  -latest             Transfer the latest file only\n"
    "effective options:\n"
    "  confirm, failonnomatch, reconnecttime\n"
    "examples:\n"
    "  put index.html\n"
    "  put -delete index.html about.html ./\n"
    "  put -permissions=644 index.html about.html /home/martin/public_html/\n"
    "  put d:\\www\\index.html about.*\n"
    "  put *.html *.png /home/martin/backup/*.bak\n"
  SCRIPT_OPTION_HELP7,
    "option [ <option> [ <value> ] ]\n"
    "  If no parameters are specified, lists all script options and their\n"
    "  values. When one parameter is specified only, shows value of the option.\n"
    "  When two parameters are specified sets value of the option.\n"
    "  Initial values of some options are taken from application configuration,\n"
    "  however modifing the options does not change the application\n"
    "  configuration.\n"
    "options are:\n"
    "  echo     on|off\n"
    "           Toggles echoing of command being executed.\n"
    "           Commands affected: all\n"
    "  batch    on|off|abort|continue\n"
    "           Toggles batch mode (all prompts are automatically replied\n"
    "           negatively). When 'on', it is recommended to set 'confirm'\n"
    "           to 'off' to allow overwrites. With 'abort', script is aborted\n"
    "           when any error occurs. With 'continue', all errors are ignored.\n"
    "           Reconnect time is automatically limited do 120s, if not limited yet.\n"
    "           Commands affected: nearly all\n"
    "  confirm  on|off\n"
    "           Toggles confirmations (overwrite, etc.).\n"
    "           Commands affected: get, put\n"
    "  reconnecttime off | <sec>\n"
    "           Time limit in seconds to try reconnecting broken sessions.\n"
    "           Commands affected: get, put, synchronize, keepuptodate\n"
    "  failonnomatch on|off\n"
    "           When 'on', commands fail when file mask matches no files.\n"
    "           When 'off', commands do nothing when file mask matches no files.\n"
    "           Commands affected: get, put, rm, mv, chmod, ls, lls\n"
    "examples:\n"
    "  option\n"
    "  option batch\n"
    "  option confirm off\n"
  SCRIPT_SYNCHRONIZE_HELP7,
    "synchronize local|remote|both [ <local directory> [ <remote directory> ] ]\n"
    "  When the first parameter is 'local' synchronises local directory with\n"
    "  remote one. When the first parameter is 'remote' synchronises remote\n"
    "  directory with local one. When the first parameter is 'both' synchronises\n"
    "  directories one against the other.\n"
    "  When directories are not specified, current working directories are\n"
    "  synchronized.\n"
    "  Note: Overwrite confirmations are always off for the command.\n"
    "switches:\n"
    "  -preview             Preview changes only, do not synchronize\n"
    "  -delete              Delete obsolete files\n"
    "  -mirror              Mirror mode (synchronize also older files).\n"
    "                       Ignored for 'both'.\n"
    "  -criteria=<criteria> Comparison criteria. Possible values are 'none', 'time',\n"
    "                       'size' and 'either'. Ignored for 'both' mode.\n"
    "  -permissions=<mode>  Set permissions\n"
    "  -nopermissions       Keep default permissions\n"
    "  -speed=<kbps>        Limit transfer speed (in KB/s)\n"
    "  -transfer=<mode>     Transfer mode: binary, ascii, automatic\n"
    "  -filemask=<mask>     Sets file mask.\n"
    "  -resumesupport=<state> Configures resume support.\n"
    "                       Possible values are 'on', 'off' or threshold\n"
    "effective options:\n"
    "  reconnecttime\n"
    "examples:\n"
    "  synchronize remote -delete\n"
    "  synchronize both d:\\www /home/martin/public_html\n"
  SCRIPT_KEEPUPTODATE_HELP5,
    "keepuptodate [ <local directory> [ <remote directory> ] ]\n"
    "  Watches for changes in local directory and reflects them on remote one.\n"
    "  When directories are not specified, current working directories are\n"
    "  synchronized. To stop watching for changes press Ctrl-C.\n"
    "  Note: Overwrite confirmations are always off for the command.\n"
    "switches:\n"
    "  -delete             Delete obsolete files\n"
    "  -permissions=<mode> Set permissions\n"
    "  -nopermissions      Keep default permissions\n"
    "  -speed=<kbps>       Limit transfer speed (in KB/s)\n"
    "  -transfer=<mode>    Transfer mode: binary, ascii, automatic\n"
    "  -filemask=<mask>    Sets file mask.\n"
    "  -resumesupport=<state> Configures resume support.\n"
    "                      Possible values are 'on', 'off' or threshold\n"
    "effective options:\n"
    "  reconnecttime\n"
    "examples:\n"
    "  keepuptodate -delete\n"
    "  keepuptodate d:\\www /home/martin/public_html\n"
  SCRIPT_CALL_HELP2,
    "call <command>\n"
    "  With SFTP and SCP protocols, executes arbitrary remote shell command.\n"
    "  If current session does not allow execution of arbitrary remote command\n"
    "  separate shell session will be automatically opened.\n"
    "  With FTP protocol, executes a protocol command.\n"
    "  The command must not require user input.\n"
    "alias:\n"
    "  !\n"
    "example:\n"
    "  call touch index.html\n"
  SCRIPT_ECHO_HELP,
    "echo <message>\n"
    "  Prints message onto script output.\n"
    "example:\n"
    "  echo Starting upload...\n"
  SCRIPT_STAT_HELP,
    "stat <file>\n"
    "  Retrieves and lists attributes of specified remote file.\n"
    "example:\n"
    "  stat index.html\n"
  SCRIPT_CHECKSUM_HELP,
    "checksum <alg> <file>\n"
    "  Calculates checksum of remote file.\n"
    "example:\n"
    "  checksum sha-1 index.html\n"
  SCRIPT_CP_HELP,
    "cp <file> [ <file2> ... ] [ <directory>/ ][ <newname> ]\n"
    "  Duplicates one or more remote files. Destination directory or new\n"
    "  name or both must be specified. Destination directory must end with\n"
    "  slash. Operation mask can be used instead of new name.\n"
    "  Filename can be replaced with wildcard to select multiple files.\n"
    "effective option:\n"
    "  failonnomatch\n"
    "examples:\n"
    "  cp index.html public_html/\n"
    "  cp index.html about.*\n"
    "  cp index.html public_html/about.*\n"
    "  cp public_html/index.html public_html/about.html /home/martin/*.bak\n"
    "  cp *.html /home/backup/*.bak\n"
END
