// This is a part of the Microsoft Foundation Classes C++ library.
// Copyright (C) 1992-1998 Microsoft Corporation
// All rights reserved.
//
// This source code is only intended as a supplement to the
// Microsoft Foundation Classes Reference and related
// electronic documentation provided with the library.
// See these sources for detailed information regarding the
// Microsoft Foundation Classes product.

#ifndef __AFXRES_RC__
#define __AFXRES_RC__

#ifndef __AFXRES_H__
	#include <afxres.h>
#endif

#ifdef APSTUDIO_INVOKED
// This will prevent the VC++ Resource Editor user from saving this file
1 TEXTINCLUDE DISCARDABLE
BEGIN
"< No se pueden cambiar recursos MFC estándar. >\0"
END
#endif //APSTUDIO_INVOKED

#ifndef _AFXDLL

/////////////////////////////////////////////////////////////////////////////
// Default resource description for MFC applications
/////////////////////////////////////////////////////////////////////////////

/////////////////////////////////////////////////////////////////////////////
// Strings

STRINGTABLE DISCARDABLE
BEGIN
#ifndef _AFX_NO_APPMENU_RESOURCES
	AFX_IDS_OPENFILE,               "Abrir"
	AFX_IDS_SAVEFILE,               "Guardar como"
	AFX_IDS_ALLFILTER,              "Todos los archivos (*.*)"
	AFX_IDS_UNTITLED,               "Sin título"
	AFX_IDS_HIDE,                   "&Ocultar"
#endif // !_AFX_NO_APPMENUSTRING_RESOURCES

	AFX_IDS_MEMORY_EXCEPTION,       "No hay suficiente memoria."
	AFX_IDS_NOT_SUPPORTED_EXCEPTION,"Se intentó una operación no permitida."
	AFX_IDS_RESOURCE_EXCEPTION,     "Rcurso necesario no disponible."
	AFX_IDS_USER_EXCEPTION,         "Se encontr¢ un error desconocido."

	// General error prompts
#ifndef _AFX_NO_FILECMD_RESOURCES
	AFX_IDP_INVALID_FILENAME,       "Nombre de archivo no válido."
	AFX_IDP_FAILED_TO_OPEN_DOC,     "Imposible abrir documento."
	AFX_IDP_FAILED_TO_SAVE_DOC,     "Imposible guardar documento."
	AFX_IDP_ASK_TO_SAVE,            "¿Guardar cambios a %1?"
	AFX_IDP_FAILED_TO_CREATE_DOC,   "Imposible crear el documento vacío."
	AFX_IDP_FILE_TOO_LARGE,         "Archivo demasiado grande."
	AFX_IDP_FAILED_TO_START_PRINT,  "Imposible iniciar impresión."
#endif // !_AFX_NO_FILECMD_RESOURCES
	AFX_IDP_FAILED_TO_LAUNCH_HELP,  "Imposible ejecutar la ayuda."
	AFX_IDP_INTERNAL_FAILURE,       "Error interno de la aplicación."
	AFX_IDP_COMMAND_FAILURE,        "Falló el comando."
	AFX_IDP_FAILED_MEMORY_ALLOC     "No hay suficiente memoria para efectuar la operación."
	AFX_IDP_GET_NOT_SUPPORTED,      "Imposible leer una propiedad de sólo escritura."
	AFX_IDP_SET_NOT_SUPPORTED,      "Imposible escribir en una propiedad de sólo lectura."
	AFX_IDP_UNREG_DONE,               "Se quitaron las entradas del Registro del sistema y eliminaron los archivos INI (si existían)."
	AFX_IDP_UNREG_FAILURE,            "No se quitaron todas las entradas del Registro (o archivo INI)."
	AFX_IDP_DLL_LOAD_FAILED,        "Este programa requiere el archivo %s, pero no está en este sistema."
	AFX_IDP_DLL_BAD_VERSION,        "This program is linked to the missing export %s in the file %s. This machine may have an incompatible version of %s."

	// CFile/CArchive error strings for user failure
#ifndef _AFX_NO_CFILE_RESOURCES
	AFX_IDP_FAILED_INVALID_FORMAT   "Formato de archivo no esperado."
	AFX_IDP_FAILED_INVALID_PATH     "%1\nImposible encontrar este archivo.\nCompruebe que la ruta y el nombre de archivo son correctos"
	AFX_IDP_FAILED_DISK_FULL        "La unidad de disco de destino está llena."
	AFX_IDP_FAILED_ACCESS_READ      "Imposible leer de %1, alguien más lo ha abierto."
	AFX_IDP_FAILED_ACCESS_WRITE     "Imposible escribir en %1, es de sólo lectura o alguien más lo ha abierto."
	AFX_IDP_FAILED_IO_ERROR_READ    "Error inesperado al leer %1."
	AFX_IDP_FAILED_IO_ERROR_WRITE   "Error inesperado al escribir en %1."
#endif // !_AFX_NO_CFILE_RESOURCES

	// Parsing error prompts
	AFX_IDP_PARSE_INT,              "Introduzca un número entero."
	AFX_IDP_PARSE_REAL,             "Introduzca un número."
	AFX_IDP_PARSE_INT_RANGE,        "Introduzca un número entero entre %1 y %2."
	AFX_IDP_PARSE_REAL_RANGE,       "Introduzca un número entre %1 y %2."
	AFX_IDP_PARSE_STRING_SIZE,      "No introduzca más de %1 caracteres."
	AFX_IDP_PARSE_RADIO_BUTTON,     "Seleccione un botón."
	AFX_IDP_PARSE_BYTE,             "Introduzca un número entero entre 0 y 255."
	AFX_IDP_PARSE_UINT,             "Introduzca un número entero positivo."
	AFX_IDP_PARSE_DATETIME,         "Introduzca una fecha y/o una hora."
	AFX_IDP_PARSE_CURRENCY,         "Introduzca una moneda."

#ifndef _AFX_NO_OLE_RESOURCES
	// OLE strings required for both servers and containers
	AFX_IDS_PASTELINKEDTYPE         "%s vinculado"
	AFX_IDS_UNKNOWNTYPE             "Tipo desconocido"
	AFX_IDP_FAILED_TO_NOTIFY        "%1\nImposible registrar el documento.\nPuede que el documento ya esté abierto."
	AFX_IDS_NOT_DOCOBJECT           "El archivo no es compatible con un servidor Document Object."
#endif //!_AFX_NO_OLE_RESOURCES

	AFX_IDP_NO_ERROR_AVAILABLE      "No hay ningún mensaje de error disponible."

#ifndef _AFX_NO_CFILE_RESOURCES
	AFX_IDP_FILE_NONE                "No ha ocurrido ningún error."
	AFX_IDP_FILE_GENERIC             "Error desconocido al acceder a %1."
	AFX_IDP_FILE_NOT_FOUND           "No se encontró %1."
	AFX_IDP_FILE_BAD_PATH            "%1 contiene una ruta no válida."
	AFX_IDP_FILE_TOO_MANY_OPEN       "Imposible abrir %1, hay demasiados archivos abiertos."
	AFX_IDP_FILE_ACCESS_DENIED       "Acceso denegado a %1."
	AFX_IDP_FILE_INVALID_FILE        "Controlador no válido asociado a %1."
	AFX_IDP_FILE_REMOVE_CURRENT      "Imposible eliminar %1 porque es el directorio actual."
	AFX_IDP_FILE_DIR_FULL            "Imposible crear %1 porque el directorio está lleno."
	AFX_IDP_FILE_BAD_SEEK            "Fin de búsqueda en %1 "
	AFX_IDP_FILE_HARD_IO             "Error de E/S de hardware al acceder a %1."
	AFX_IDP_FILE_SHARING             "Violación de acceso compartido al acceder a %1."
	AFX_IDP_FILE_LOCKING             "Violación de bloqueo al acceder %1. "
	AFX_IDP_FILE_DISKFULL            "Disco lleno al acceder a %1."
	AFX_IDP_FILE_EOF                 "Se intentó acceder a %1 más allá del final."
	AFX_IDS_UNNAMED_FILE             "un archivo sin nombre"
#endif // !_AFX_NO_CFILE_RESOURCES

	AFX_IDP_ARCH_NONE               "No ha ocurrido ningún error."
	AFX_IDP_ARCH_GENERIC                "Error desconocido al acceder a %1."
	AFX_IDP_ARCH_READONLY           "Se intentó escribir en %1 mientras se lo estaba leyendo."
	AFX_IDP_ARCH_ENDOFFILE          "Se intentó acceder a %1 más allá del final."
	AFX_IDP_ARCH_WRITEONLY          "Se intentó leer de %1 mientras estaba escribiendo."
	AFX_IDP_ARCH_BADINDEX           "%1 tiene un formato incorrecto."
	AFX_IDP_ARCH_BADCLASS           "%1 contiene un objeto inesperado."
	AFX_IDP_ARCH_BADSCHEMA          "%1 contiene un esquema incorrecto."

#ifndef _AFX_NO_MAPI_RESOURCES
	// MAPI strings / error messages
	AFX_IDP_FAILED_MAPI_LOAD        "Imposible cargar el soporte del sistema de correo."
	AFX_IDP_INVALID_MAPI_DLL        "La DLL del sistema de correo no es válida."
	AFX_IDP_FAILED_MAPI_SEND        "Enviar correo no envió el mensaje."
#endif //!_AFX_NO_MAPI_RESOURCES

#ifndef _AFX_NO_OCC_RESOURCES
	AFX_IDS_OCC_SCALEUNITS_PIXELS   "píxeles"
#endif //!_AFX_NO_OCC_RESOURCES
END

/////////////////////////////////////////////////////////////////////////////
// Cursors

AFX_IDC_CONTEXTHELP     CURSOR  DISCARDABLE     "res\\help.cur"

#ifndef _AFX_NO_SPLITTER_RESOURCES
AFX_IDC_SMALLARROWS     CURSOR  DISCARDABLE     "res\\sarrows.cur"
AFX_IDC_HSPLITBAR       CURSOR  DISCARDABLE     "res\\splith.cur"
AFX_IDC_VSPLITBAR       CURSOR  DISCARDABLE     "res\\splitv.cur"
AFX_IDC_NODROPCRSR      CURSOR  DISCARDABLE     "res\\nodrop.cur"
#endif //!_AFX_NO_SPLITTER_RESOURCES

#ifndef _AFX_NO_TRACKER_RESOURCES
AFX_IDC_TRACKNWSE       CURSOR  DISCARDABLE     "res\\trcknwse.cur"
AFX_IDC_TRACKNESW       CURSOR  DISCARDABLE     "res\\trcknesw.cur"
AFX_IDC_TRACKNS         CURSOR  DISCARDABLE     "res\\trckns.cur"
AFX_IDC_TRACKWE         CURSOR  DISCARDABLE     "res\\trckwe.cur"
AFX_IDC_TRACK4WAY       CURSOR  DISCARDABLE     "res\\trck4way.cur"
AFX_IDC_MOVE4WAY        CURSOR  DISCARDABLE     "res\\move4way.cur"
#endif //!_AFX_NO_TRACKER_RESOURCES

#ifndef _AFX_NO_CTL3D_RESOURCES
26567 BITMAP "res\\3dcheck.bmp" // Note: 26567 comes from CTL3D.H
#endif

/////////////////////////////////////////////////////////////////////////////
// Standard Dialogs

#ifndef _AFX_NO_NEWTYPEDLG_RESOURCES
AFX_IDD_NEWTYPEDLG DIALOG DISCARDABLE  9, 26, 183, 70
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | 0x04
CAPTION "Nuevo"
FONT 8, "MS Shell Dlg"
BEGIN
	LTEXT           "&Nuevo ",IDC_STATIC,6,5,123,8,NOT WS_GROUP
	LISTBOX         AFX_IDC_LISTBOX,6,15,125,49,WS_VSCROLL | WS_TABSTOP
	DEFPUSHBUTTON   "Aceptar",IDOK,137,6,40,14
	PUSHBUTTON      "Cancelar",IDCANCEL,137,23,40,14
	PUSHBUTTON      "&Ayuda",ID_HELP,137,43,40,14
END
#endif // !_AFX_NO_NEWTYPEDLG_RESOURCES

/////////////////////////////////////////////////////////////////////////////
// CMiniFrameWnd Bitmap

AFX_IDB_MINIFRAME_MENU      BITMAP  DISCARDABLE     "res\\minifwnd.bmp"

/////////////////////////////////////////////////////////////////////////////
// CCheckListBox Bitmaps

AFX_IDB_CHECKLISTBOX_NT     BITMAP  DISCARDABLE     "res\\ntcheck.bmp"
AFX_IDB_CHECKLISTBOX_95     BITMAP  DISCARDABLE     "res\\95check.bmp"

/////////////////////////////////////////////////////////////////////////////

#endif //!_AFXDLL
#endif //!__AFXRES_RC__

/////////////////////////////////////////////////////////////////////////////
