// This is a part of the Microsoft Foundation Classes C++ library.
// Copyright (C) 1992-1998 Microsoft Corporation
// All rights reserved.
//
// This source code is only intended as a supplement to the
// Microsoft Foundation Classes Reference and related
// electronic documentation provided with the library.
// See these sources for detailed information regarding the
// Microsoft Foundation Classes product.

#ifndef __AFXCTL_RC__
#define __AFXCTL_RC__

#ifndef __AFXRES_H__
	#include <afxres.h>
#endif

#ifdef APSTUDIO_INVOKED
// This will prevent the VC++ Resource Editor user from saving this file
1 TEXTINCLUDE DISCARDABLE
BEGIN
"< 不能更改标准 MFC 资源! >\0"
END
#endif    // APSTUDIO_INVOKED

#ifndef _AFXDLL

/////////////////////////////////////////////////////////////////////////////
// OLE Control Resources

#ifndef _AFX_NO_STOCKPPG_RESOURCES
/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//

AFX_IDB_TRUETYPE        BITMAP  DISCARDABLE     "RES\\TRUETYPE.BMP"

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

AFX_IDD_PROPPAGE_FONT DIALOG DISCARDABLE  13, 54, 250, 110
STYLE WS_CHILD | 0x4
FONT 8, "MS Shell Dlg"
BEGIN
	LTEXT           "特性名(&N)",IDC_STATIC,3,5,61,8
	COMBOBOX        AFX_IDC_FONTPROP,65,3,100,71,CBS_DROPDOWNLIST | CBS_SORT |
					WS_VSCROLL | WS_TABSTOP
	LTEXT           "字体(&F)",IDC_STATIC,3,19,91,8
	COMBOBOX        AFX_IDC_FONTNAMES,3,29,91,77,CBS_SIMPLE |
					CBS_OWNERDRAWFIXED | CBS_AUTOHSCROLL | CBS_SORT |
					CBS_HASSTRINGS | CBS_DISABLENOSCROLL | WS_VSCROLL |
					WS_TABSTOP
	LTEXT           "字形(&Y)",IDC_STATIC,102,19,53,8
	COMBOBOX        AFX_IDC_FONTSTYLES,104,29,53,53,CBS_DROPDOWNLIST |
					CBS_DISABLENOSCROLL | WS_VSCROLL | WS_TABSTOP
	LTEXT           "大小(&S)",IDC_STATIC,167,19,40,8
	COMBOBOX        AFX_IDC_FONTSIZES,167,29,36,53,CBS_DROPDOWN | CBS_SORT |
					CBS_DISABLENOSCROLL | WS_VSCROLL | WS_TABSTOP
	GROUPBOX        "效果",IDC_STATIC,104,44,142,24,WS_GROUP
	CONTROL         "删除线(&K)",AFX_IDC_STRIKEOUT,"Button",BS_AUTOCHECKBOX |
					WS_TABSTOP,109,55,65,10
	CONTROL         "下划线(&U)",AFX_IDC_UNDERLINE,"Button",BS_AUTOCHECKBOX |
					WS_TABSTOP,175,55,65,10
	GROUPBOX        "字体范例",IDC_STATIC,104,71,142,36,WS_GROUP
	CTEXT           "AaBbYyZz",AFX_IDC_SAMPLEBOX,110,80,130,22,SS_NOPREFIX |
					NOT WS_VISIBLE
END

AFX_IDD_PROPPAGE_COLOR DIALOG DISCARDABLE  0, 0, 250, 62
STYLE WS_CHILD | 0x4
FONT 8, "MS Shell Dlg"
BEGIN
	LTEXT           "特性名(&N)",IDC_STATIC,3,3,100,8
	COMBOBOX        AFX_IDC_COLORPROP,3,13,100,54,CBS_DROPDOWNLIST |
					CBS_SORT | WS_VSCROLL | WS_TABSTOP
	LTEXT           "系统颜色(&C)",IDC_STATIC,3,29,100,8
	COMBOBOX        AFX_IDC_SYSTEMCOLORS,3,39,100,54,CBS_DROPDOWNLIST |
					CBS_SORT | WS_VSCROLL | WS_TABSTOP
	CONTROL         "",AFX_IDC_COLOR_BLACK,"Button",BS_OWNERDRAW | WS_GROUP |
					WS_TABSTOP,118,4,15,11
	CONTROL         "",AFX_IDC_COLOR_BLUE,"Button",BS_OWNERDRAW,138,4,15,11
	CONTROL         "",AFX_IDC_COLOR_CYAN,"Button",BS_OWNERDRAW,158,4,15,11
	CONTROL         "",AFX_IDC_COLOR_DARKBLUE,"Button",BS_OWNERDRAW,178,4,15,
					11
	CONTROL         "",AFX_IDC_COLOR_DARKCYAN,"Button",BS_OWNERDRAW,118,18,
					15,11
	CONTROL         "",AFX_IDC_COLOR_DARKGREEN,"Button",BS_OWNERDRAW,138,18,
					15,11
	CONTROL         "",AFX_IDC_COLOR_DARKMAGENTA,"Button",BS_OWNERDRAW,158,
					18,15,11
	CONTROL         "",AFX_IDC_COLOR_GRAY,"Button",BS_OWNERDRAW,178,18,15,11
	CONTROL         "",AFX_IDC_COLOR_DARKRED,"Button",BS_OWNERDRAW,118,32,15,
					11
	CONTROL         "",AFX_IDC_COLOR_GREEN,"Button",BS_OWNERDRAW,138,32,15,
					11
	CONTROL         "",AFX_IDC_COLOR_LIGHTBROWN,"Button",BS_OWNERDRAW,158,32,
					15,11
	CONTROL         "",AFX_IDC_COLOR_LIGHTGRAY,"Button",BS_OWNERDRAW,178,32,
					15,11
	CONTROL         "",AFX_IDC_COLOR_MAGENTA,"Button",BS_OWNERDRAW,118,46,15,
					11
	CONTROL         "",AFX_IDC_COLOR_RED,"Button",BS_OWNERDRAW,138,46,15,11
	CONTROL         "",AFX_IDC_COLOR_WHITE,"Button",BS_OWNERDRAW,158,46,15,
					11
	CONTROL         "",AFX_IDC_COLOR_YELLOW,"Button",BS_OWNERDRAW,178,46,15,
					11
END

AFX_IDD_PROPPAGE_PICTURE DIALOG DISCARDABLE  0, 0, 250, 62
STYLE WS_CHILD | 0x4
FONT 8, "MS Shell Dlg"
BEGIN
	LTEXT           "特性名(&N)",IDC_STATIC,3,3,100,8
	COMBOBOX        AFX_IDC_PROPNAME,3,13,100,30,CBS_DROPDOWNLIST | CBS_SORT |
					WS_VSCROLL | WS_TABSTOP
	PUSHBUTTON      "浏览(&B)...",AFX_IDC_BROWSE,3,35,54,14
	PUSHBUTTON      "清除(&C)",AFX_IDC_CLEAR,61,35,54,14
	RTEXT           "预阅:",IDC_STATIC,107,3,42,16
	CONTROL         "",AFX_IDC_PICTURE,"Static",SS_BLACKFRAME,151,4,93,54
END

/////////////////////////////////////////////////////////////////////////////
//
// Dialog Info
//

AFX_IDD_PROPPAGE_FONT DLGINIT
BEGIN
	1002, 0x403, 12, 0
0x6f42, 0x646c, 0x4920, 0x6174, 0x696c, 0x0063,
	0
END

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE
BEGIN
	AFX_IDS_PROPPAGE_UNKNOWN "(未知)"
	AFX_IDS_COLOR_DESKTOP   "台式"
	AFX_IDS_COLOR_APPWORKSPACE "应用程序工作区"
	AFX_IDS_COLOR_WNDBACKGND "窗口背景"
	AFX_IDS_COLOR_WNDTEXT   "窗口文本"
	AFX_IDS_COLOR_MENUBAR   "菜单栏"
	AFX_IDS_COLOR_MENUTEXT  "菜单文字"
	AFX_IDS_COLOR_ACTIVEBAR "活动的标题栏"
	AFX_IDS_COLOR_INACTIVEBAR "不活动的标题栏"
	AFX_IDS_COLOR_ACTIVETEXT "活动的标题栏文字"
	AFX_IDS_COLOR_INACTIVETEXT "不活动的标题栏文字"
	AFX_IDS_COLOR_ACTIVEBORDER "活动边框"
	AFX_IDS_COLOR_INACTIVEBORDER "不活动边框"
END
#endif // !_AFX_NO_STOCKPPG_RESOURCES

STRINGTABLE DISCARDABLE
BEGIN
#ifndef _AFX_NO_STOCKPPG_RESOURCES
	AFX_IDS_COLOR_WNDFRAME  "窗口框架"
	AFX_IDS_COLOR_SCROLLBARS "卷动条"
	AFX_IDS_COLOR_BTNFACE   "按钮表面"
	AFX_IDS_COLOR_BTNSHADOW "按钮阴影"
	AFX_IDS_COLOR_BTNTEXT   "按钮文字"
	AFX_IDS_COLOR_BTNHIGHLIGHT "按钮突出"
	AFX_IDS_COLOR_DISABLEDTEXT "失效文字"
	AFX_IDS_COLOR_HIGHLIGHT "突出"
	AFX_IDS_COLOR_HIGHLIGHTTEXT "突出的文字"
	AFX_IDS_REGULAR         "正常体"
	AFX_IDS_BOLD            "黑体"
	AFX_IDS_ITALIC          "斜体"
	AFX_IDS_BOLDITALIC      "黑斜体"
	AFX_IDS_SAMPLETEXT      "AaBbYyZz"
#endif // !_AFX_NO_STOCKPPG_RESOURCES
	AFX_IDS_DISPLAYSTRING_FONT "(字体)"
	AFX_IDS_DISPLAYSTRING_COLOR "(颜色)"
END

STRINGTABLE DISCARDABLE
BEGIN
	AFX_IDS_DISPLAYSTRING_PICTURE "(图片 - %s)"
#ifndef _AFX_NO_STOCKPPG_RESOURCES
	AFX_IDS_PICTUREFILTER   "所有图片类型|*.bmp;*.cur;*.dib;*.emf;*.ico;*.wmf|Bitmaps (*.bmp;*.dib)|*.bmp;*.dib|Icons/Cursors (*.ico;*.cur)|*.ico;*.cur|Metafiles (*.wmf;*.emf)|*.wmf;*.emf|所有文件(*.*)|*.*||"
#endif // !_AFX_NO_STOCKPPG_RESOURCES
	AFX_IDS_PICTYPE_UNKNOWN "未知"
	AFX_IDS_PICTYPE_NONE    "无"
	AFX_IDS_PICTYPE_BITMAP  "位图"
	AFX_IDS_PICTYPE_METAFILE "元文件"
	AFX_IDS_PICTYPE_ICON    "图标"
#ifndef _AFX_NO_STOCKPPG_RESOURCES
	AFX_IDS_COLOR_PPG       "颜色特性页"
	AFX_IDS_COLOR_PPG_CAPTION "颜色"
	AFX_IDS_FONT_PPG        "字体特性页"
	AFX_IDS_FONT_PPG_CAPTION "字体"
	AFX_IDS_PICTURE_PPG     "图片特性页"
	AFX_IDS_PICTURE_PPG_CAPTION "图片"
#endif // !_AFX_NO_STOCKPPG_RESOURCES
	AFX_IDS_BORDERSTYLE_0   "0 - 无"
	AFX_IDS_BORDERSTYLE_1   "1 - 固定单个"
END

STRINGTABLE DISCARDABLE
BEGIN
	AFX_IDS_VERB_EDIT       "编辑(&E)"
	AFX_IDS_VERB_PROPERTIES "特性(&P)..."
END

#ifndef _AFX_NO_STOCKPPG_RESOURCES
STRINGTABLE DISCARDABLE
BEGIN
	AFX_IDP_PICTURECANTOPEN "无法打开图片文件 %1。此文件可能不存在或不可读。"
	AFX_IDP_PICTURECANTLOAD "无法装入图片文件 %1。该文件可能格式不正确。"
	AFX_IDP_PICTURETOOLARGE "无法装入图片文件 %1。该文件太大内存无法容纳。"
	AFX_IDP_PICTUREREADFAILED
							"无法装入图片文件 %1。未予具体说明的读操作失败。"
END

STRINGTABLE DISCARDABLE
BEGIN
	AFX_IDS_PICTUREBROWSETITLE "浏览图片"
END
#endif // !_AFX_NO_STOCKPPG_RESOURCES

#ifndef _AFX_NO_CTLERROR_RESOURCES
STRINGTABLE DISCARDABLE
BEGIN
	AFX_IDP_E_ILLEGALFUNCTIONCALL "非法函数调用"
	AFX_IDP_E_OVERFLOW      "溢出"
	AFX_IDP_E_OUTOFMEMORY   "内存不足"
	AFX_IDP_E_DIVISIONBYZERO "被零除"
	AFX_IDP_E_OUTOFSTRINGSPACE "字符串空间不足"
	AFX_IDP_E_OUTOFSTACKSPACE "堆栈空间不足"
	AFX_IDP_E_BADFILENAMEORNUMBER "文件名或文件号错"
	AFX_IDP_E_FILENOTFOUND  "文件未找到"
	AFX_IDP_E_BADFILEMODE   "文件模式错"
	AFX_IDP_E_FILEALREADYOPEN "文件已经打开"
	AFX_IDP_E_DEVICEIOERROR "设备输入/输出出错"
	AFX_IDP_E_FILEALREADYEXISTS "文件已经存在"
	AFX_IDP_E_BADRECORDLENGTH "记录长度错"
	AFX_IDP_E_DISKFULL      "磁盘已满"
	AFX_IDP_E_BADRECORDNUMBER "记录号码错"
	AFX_IDP_E_BADFILENAME   "文件名错"
END

STRINGTABLE DISCARDABLE
BEGIN
	AFX_IDP_E_TOOMANYFILES  "文件太多"
	AFX_IDP_E_DEVICEUNAVAILABLE "设备不适合"
	AFX_IDP_E_PERMISSIONDENIED "未获得许可"
	AFX_IDP_E_DISKNOTREADY  "磁盘未准备好"
	AFX_IDP_E_PATHFILEACCESSERROR "路径/文件访问错误"
	AFX_IDP_E_PATHNOTFOUND  "没有找到路径"
	AFX_IDP_E_INVALIDPATTERNSTRING "无效的字符串型样"
	AFX_IDP_E_INVALIDUSEOFNULL "空值使用不当"
	AFX_IDP_E_INVALIDFILEFORMAT "无效的文件格式"
	AFX_IDP_E_INVALIDPROPERTYVALUE "无效的特性值"
	AFX_IDP_E_INVALIDPROPERTYARRAYINDEX "无效的数组下标"
	AFX_IDP_E_SETNOTSUPPORTEDATRUNTIME "该特性在运行时刻不能设置"
	AFX_IDP_E_SETNOTSUPPORTED "该特性为只读特性"
	AFX_IDP_E_NEEDPROPERTYARRAYINDEX
							"使用特性数组时必须指明数组下标"
	AFX_IDP_E_SETNOTPERMITTED "不可在这个控制上设置特性"
	AFX_IDP_E_GETNOTSUPPORTEDATRUNTIME "该特性不可在运行时刻读取"
END

STRINGTABLE DISCARDABLE
BEGIN
	AFX_IDP_E_GETNOTSUPPORTED "该特性为只写特性"
	AFX_IDP_E_PROPERTYNOTFOUND "没有找到特性"
	AFX_IDP_E_INVALIDCLIPBOARDFORMAT "无效的剪贴板格式"
	AFX_IDP_E_INVALIDPICTURE "无效图片"
	AFX_IDP_E_PRINTERERROR  "打印机出错"
	AFX_IDP_E_CANTSAVEFILETOTEMP
							"无法创建存贮过程所需要的临时文件"
	AFX_IDP_E_SEARCHTEXTNOTFOUND "没有找到要查找的文本"
	AFX_IDP_E_REPLACEMENTSTOOLONG "要替换的文本太长"
END
#endif //!_AFX_NO_CTLERROR_RESOURCES

#endif //!_AFXDLL
#endif //__AFXOLECL_RC__
