// This is a part of the Microsoft Foundation Classes C++ library.
// Copyright (C) 1992-1998 Microsoft Corporation
// All rights reserved.
//
// This source code is only intended as a supplement to the
// Microsoft Foundation Classes Reference and related
// electronic documentation provided with the library.
// See these sources for detailed information regarding the
// Microsoft Foundation Classes product.

#ifndef __AFXOLESV_RC__
#define __AFXOLESV_RC__

#ifndef __AFXRES_H__
	#include <afxres.h>
#endif

#ifdef APSTUDIO_INVOKED
// This will prevent the VC++ Resource Editor user from saving this file
1 TEXTINCLUDE DISCARDABLE
BEGIN
"< 不能更改标准 MFC 资源! >\0"
END
#endif    // APSTUDIO_INVOKED

#ifndef _AFXDLL

/////////////////////////////////////////////////////////////////////////////
// OLE Server Resources

// OLE strings
STRINGTABLE DISCARDABLE
BEGIN
	AFX_IDP_ASK_TO_UPDATE,              "在继续运行前对 %1 进行更新？"
	AFX_IDP_FAILED_TO_UPDATE,           "不能更新客户。"

	AFX_IDP_FAILED_TO_REGISTER,         "注册失败。ActiveX 功能无法正确使用。"
	AFX_IDP_FAILED_TO_AUTO_REGISTER,    "更新系统注册记录失败。\n请试用 REGEDIT。"
END

STRINGTABLE PRELOAD
BEGIN
	AFX_IDS_APP_TITLE_EMBEDDING,        "%1 在 %2 中"
	AFX_IDS_OBJ_TITLE_INPLACE,          "%1 - %2"
	AFX_IDS_EXIT_MENU,                  "退出并回到 %1(&X)"
	AFX_IDS_UPDATE_MENU,                "更新 %1(&U)"
	AFX_IDS_SAVEFILECOPY,               "保存副本为"
END

/////////////////////////////////////////////////////////////////////////////

#endif //!_AFXDLL
#endif //__AFXOLESV_RC__
