// This is a part of the Microsoft Foundation Classes C++ library.
// Copyright (C) 1992-1998 Microsoft Corporation
// All rights reserved.
//
// This source code is only intended as a supplement to the
// Microsoft Foundation Classes Reference and related
// electronic documentation provided with the library.
// See these sources for detailed information regarding the
// Microsoft Foundation Classes product.

#ifndef __AFXRES_RC__
#define __AFXRES_RC__

#ifndef __AFXRES_H__
	#include <afxres.h>
#endif

#ifdef APSTUDIO_INVOKED
// This will prevent the VC++ Resource Editor user from saving this file
1 TEXTINCLUDE DISCARDABLE
BEGIN
"< 不能更改标准 MFC 资源! >\0"
END
#endif //APSTUDIO_INVOKED

#ifndef _AFXDLL

/////////////////////////////////////////////////////////////////////////////
// Default resource description for MFC applications
/////////////////////////////////////////////////////////////////////////////

/////////////////////////////////////////////////////////////////////////////
// Strings

STRINGTABLE DISCARDABLE
BEGIN
#ifndef _AFX_NO_APPMENU_RESOURCES
	AFX_IDS_OPENFILE,               "打开"
	AFX_IDS_SAVEFILE,               "保存为"
	AFX_IDS_ALLFILTER,              "所有文件 (*.*)"
	AFX_IDS_UNTITLED,               "无标题"
	AFX_IDS_HIDE,                   "隐藏(&H)"
#endif // !_AFX_NO_APPMENUSTRING_RESOURCES

	AFX_IDS_MEMORY_EXCEPTION,       "内存不足。"
	AFX_IDS_NOT_SUPPORTED_EXCEPTION,"试图执行系统不支持的操作。"
	AFX_IDS_RESOURCE_EXCEPTION,     "必需的资源无法得到。"
	AFX_IDS_USER_EXCEPTION,         "出现了未知的错误"

	// General error prompts
#ifndef _AFX_NO_FILECMD_RESOURCES
	AFX_IDP_INVALID_FILENAME,       "无效的文件名。"
	AFX_IDP_FAILED_TO_OPEN_DOC,     "打开文档失败。"
	AFX_IDP_FAILED_TO_SAVE_DOC,     "保存文档失败。"
	AFX_IDP_ASK_TO_SAVE,            "将改动保存到 %1？"
	AFX_IDP_FAILED_TO_CREATE_DOC,   "建立空文档失败。"
	AFX_IDP_FILE_TOO_LARGE,         "该文件太大，无法打开。"
	AFX_IDP_FAILED_TO_START_PRINT,  "无法启动打印作业。"
#endif // !_AFX_NO_FILECMD_RESOURCES
	AFX_IDP_FAILED_TO_LAUNCH_HELP,  "启动帮助失败。"
	AFX_IDP_INTERNAL_FAILURE,       "内部应用程序出错。"
	AFX_IDP_COMMAND_FAILURE,        "命令失败。"
	AFX_IDP_FAILED_MEMORY_ALLOC     "没有足够的内存执行操作。"
	AFX_IDP_GET_NOT_SUPPORTED,      "无法读只写特性。"
	AFX_IDP_SET_NOT_SUPPORTED,      "无法写只读特性。"
	AFX_IDP_UNREG_DONE,               "系统注册项已被移除并且相应的 INI 文件（假如存在）也被删除。"
	AFX_IDP_UNREG_FAILURE,            "不是所有的系统注册项（或 INI 文件）都被移除。"
	AFX_IDP_DLL_LOAD_FAILED,        "在系统中没有找到此程序需要的文件%s。"
	AFX_IDP_DLL_BAD_VERSION,        "此程序连接到文件 %s 中丢失的输出 %s 。此机器可能有一个 %s 不兼容的版本。"

	// CFile/CArchive error strings for user failure
#ifndef _AFX_NO_CFILE_RESOURCES
	AFX_IDP_FAILED_INVALID_FORMAT   "非预期的文件格式。"
	AFX_IDP_FAILED_INVALID_PATH     "无法找到该文件。\n请验证给出的路径和文件名是否正确。"
	AFX_IDP_FAILED_DISK_FULL        "目的磁盘驱动器已满。"
	AFX_IDP_FAILED_ACCESS_READ      "无法对 %1 进行读操作，它已经被其他人打开。"
	AFX_IDP_FAILED_ACCESS_WRITE     "无法对 %1 进行写操作，因为它是只读文件或已经被其他人打开。"
	AFX_IDP_FAILED_IO_ERROR_READ    "在对 %1 进行读操作时发生了一个非预期的错误。"
	AFX_IDP_FAILED_IO_ERROR_WRITE   "在对 %1 进行写操作时发生了一个非预期的错误。"
#endif // !_AFX_NO_CFILE_RESOURCES

	// Parsing error prompts
	AFX_IDP_PARSE_INT,              "请键入一个整数。"
	AFX_IDP_PARSE_REAL,             "请键入一个数。"
	AFX_IDP_PARSE_INT_RANGE,        "“请填入一个在%1和%2之间的整数。”"
	AFX_IDP_PARSE_REAL_RANGE,       "“请填入一个在%1和%2之间的数字。”"
	AFX_IDP_PARSE_STRING_SIZE,      "“请填入不多于%1个的字符。”"
	AFX_IDP_PARSE_RADIO_BUTTON,     "请选择一个按钮。"
	AFX_IDP_PARSE_BYTE,             "“请填入一个在0和255之间的整数。”"
	AFX_IDP_PARSE_UINT,             "“请填入一个正整数。”"
	AFX_IDP_PARSE_DATETIME,         "“请填入一个日期和/或时间值。”"
	AFX_IDP_PARSE_CURRENCY,         "“请填入一个货币值。”"

#ifndef _AFX_NO_OLE_RESOURCES
	// OLE strings required for both servers and containers
	AFX_IDS_PASTELINKEDTYPE         "链接的 %s"
	AFX_IDS_UNKNOWNTYPE             "未知类型"
	AFX_IDP_FAILED_TO_NOTIFY        "%1\n无法注册文档。\n此文档可能已经被打开。"
	AFX_IDS_NOT_DOCOBJECT           "文档对象服务程序不支持这个文件。"
#endif //!_AFX_NO_OLE_RESOURCES

	AFX_IDP_NO_ERROR_AVAILABLE      "得不到出错信息。"

#ifndef _AFX_NO_CFILE_RESOURCES
	AFX_IDP_FILE_NONE                "无错误发生。"
	AFX_IDP_FILE_GENERIC             "在对 %1 进行访问时发生了一个不明错误。"
	AFX_IDP_FILE_NOT_FOUND           "没有找到 %1。"
	AFX_IDP_FILE_BAD_PATH            "%1 中包含无效的路径。"
	AFX_IDP_FILE_TOO_MANY_OPEN       "无法打开 %1 因为太多文件已被打开。"
	AFX_IDP_FILE_ACCESS_DENIED       "对 %1 的存取被拒绝。"
	AFX_IDP_FILE_INVALID_FILE        "一个无效的文件柄与 %1 相关联。"
	AFX_IDP_FILE_REMOVE_CURRENT      "无法删除 %1 因为它是当前目录。"
	AFX_IDP_FILE_DIR_FULL            "该目录已满，无法创建 %1。"
	AFX_IDP_FILE_BAD_SEEK            "对 %1 进行查找失败。"
	AFX_IDP_FILE_HARD_IO             "在存取 %1 时一个硬件输入/输出错误被报告。"
	AFX_IDP_FILE_SHARING             "在存取 %1 时发生共享违例。"
	AFX_IDP_FILE_LOCKING             "在存取 %1 时发生锁违例。"
	AFX_IDP_FILE_DISKFULL            "在存取 %1 时磁盘已满。"
	AFX_IDP_FILE_EOF                 "试图越过其尾端对 %1 进行读写。"
	AFX_IDS_UNNAMED_FILE             "一未命名文件"
#endif // !_AFX_NO_CFILE_RESOURCES

	AFX_IDP_ARCH_NONE               "无错误发生。"
	AFX_IDP_ARCH_GENERIC                "在对 %1 进行访问时发生了一个不明错误。"
	AFX_IDP_ARCH_READONLY           "试图在对 %1 进行读操作的同时对其进行写操作。"
	AFX_IDP_ARCH_ENDOFFILE          "试图越过其尾端对 %1 进行读写。"
	AFX_IDP_ARCH_WRITEONLY          "试图在对 %1 进行写操作的同时对其进行读操作。"
	AFX_IDP_ARCH_BADINDEX           "%1 格式错。"
	AFX_IDP_ARCH_BADCLASS           "%1 含有非预期的对象。"
	AFX_IDP_ARCH_BADSCHEMA          "%1 包含错误的模式。"

#ifndef _AFX_NO_MAPI_RESOURCES
	// MAPI strings / error messages
	AFX_IDP_FAILED_MAPI_LOAD        "无法装入邮件系统支援。"
	AFX_IDP_INVALID_MAPI_DLL        "邮件系统 DLL 无效。"
	AFX_IDP_FAILED_MAPI_SEND        "传递邮件未能传递信息。"
#endif //!_AFX_NO_MAPI_RESOURCES

#ifndef _AFX_NO_OCC_RESOURCES
	AFX_IDS_OCC_SCALEUNITS_PIXELS   "象素"
#endif //!_AFX_NO_OCC_RESOURCES
END

/////////////////////////////////////////////////////////////////////////////
// Cursors

AFX_IDC_CONTEXTHELP     CURSOR  DISCARDABLE     "res\\help.cur"

#ifndef _AFX_NO_SPLITTER_RESOURCES
AFX_IDC_SMALLARROWS     CURSOR  DISCARDABLE     "res\\sarrows.cur"
AFX_IDC_HSPLITBAR       CURSOR  DISCARDABLE     "res\\splith.cur"
AFX_IDC_VSPLITBAR       CURSOR  DISCARDABLE     "res\\splitv.cur"
AFX_IDC_NODROPCRSR      CURSOR  DISCARDABLE     "res\\nodrop.cur"
#endif //!_AFX_NO_SPLITTER_RESOURCES

#ifndef _AFX_NO_TRACKER_RESOURCES
AFX_IDC_TRACKNWSE       CURSOR  DISCARDABLE     "res\\trcknwse.cur"
AFX_IDC_TRACKNESW       CURSOR  DISCARDABLE     "res\\trcknesw.cur"
AFX_IDC_TRACKNS         CURSOR  DISCARDABLE     "res\\trckns.cur"
AFX_IDC_TRACKWE         CURSOR  DISCARDABLE     "res\\trckwe.cur"
AFX_IDC_TRACK4WAY       CURSOR  DISCARDABLE     "res\\trck4way.cur"
AFX_IDC_MOVE4WAY        CURSOR  DISCARDABLE     "res\\move4way.cur"
#endif //!_AFX_NO_TRACKER_RESOURCES

#ifndef _AFX_NO_CTL3D_RESOURCES
26567 BITMAP "res\\3dcheck.bmp" // Note: 26567 comes from CTL3D.H
#endif

/////////////////////////////////////////////////////////////////////////////
// Standard Dialogs

#ifndef _AFX_NO_NEWTYPEDLG_RESOURCES
AFX_IDD_NEWTYPEDLG DIALOG DISCARDABLE  9, 26, 183, 70
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | 0x04
CAPTION "新建"
FONT 8, "MS Shell Dlg"
BEGIN
	LTEXT           "新建(&N)",IDC_STATIC,6,5,123,8,NOT WS_GROUP
	LISTBOX         AFX_IDC_LISTBOX,6,15,125,49,WS_VSCROLL | WS_TABSTOP
	DEFPUSHBUTTON   "确定",IDOK,137,6,40,14
	PUSHBUTTON      "取消",IDCANCEL,137,23,40,14
	PUSHBUTTON      "帮助(&H)",ID_HELP,137,43,40,14
END
#endif // !_AFX_NO_NEWTYPEDLG_RESOURCES

/////////////////////////////////////////////////////////////////////////////
// CMiniFrameWnd Bitmap

AFX_IDB_MINIFRAME_MENU      BITMAP  DISCARDABLE     "res\\minifwnd.bmp"

/////////////////////////////////////////////////////////////////////////////
// CCheckListBox Bitmaps

AFX_IDB_CHECKLISTBOX_NT     BITMAP  DISCARDABLE     "res\\ntcheck.bmp"
AFX_IDB_CHECKLISTBOX_95     BITMAP  DISCARDABLE     "res\\95check.bmp"

/////////////////////////////////////////////////////////////////////////////

#endif //!_AFXDLL
#endif //!__AFXRES_RC__

/////////////////////////////////////////////////////////////////////////////
