// This is a part of the Microsoft Foundation Classes C++ library.
// Copyright (C) 1992-1998 Microsoft Corporation
// All rights reserved.
//
// This source code is only intended as a supplement to the
// Microsoft Foundation Classes Reference and related
// electronic documentation provided with the library.
// See these sources for detailed information regarding the
// Microsoft Foundation Classes product.

#ifndef __AFXCTL_RC__
#define __AFXCTL_RC__

#ifndef __AFXRES_H__
	#include <afxres.h>
#endif

#ifdef APSTUDIO_INVOKED
// This will prevent the VC++ Resource Editor user from saving this file
1 TEXTINCLUDE DISCARDABLE
BEGIN
"< 無法改變標準MFC資源! >\0"
END
#endif    // APSTUDIO_INVOKED

#ifndef _AFXDLL

/////////////////////////////////////////////////////////////////////////////
// OLE Control Resources

#ifndef _AFX_NO_STOCKPPG_RESOURCES
/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//

AFX_IDB_TRUETYPE        BITMAP  DISCARDABLE     "RES\\TRUETYPE.BMP"

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

AFX_IDD_PROPPAGE_FONT DIALOG DISCARDABLE  13, 54, 250, 110
STYLE WS_CHILD | 0x4
FONT 8, "MS Shell Dlg"
BEGIN
	LTEXT           "屬性名稱(&N):",IDC_STATIC,3,5,61,8
	COMBOBOX        AFX_IDC_FONTPROP,65,3,100,71,CBS_DROPDOWNLIST | CBS_SORT |
					WS_VSCROLL | WS_TABSTOP
	LTEXT           "字型(&F):",IDC_STATIC,3,19,91,8
	COMBOBOX        AFX_IDC_FONTNAMES,3,29,91,77,CBS_SIMPLE |
					CBS_OWNERDRAWFIXED | CBS_AUTOHSCROLL | CBS_SORT |
					CBS_HASSTRINGS | CBS_DISABLENOSCROLL | WS_VSCROLL |
					WS_TABSTOP
	LTEXT           "字型樣式(&y):",IDC_STATIC,102,19,53,8
	COMBOBOX        AFX_IDC_FONTSTYLES,104,29,53,53,CBS_DROPDOWNLIST |
					CBS_DISABLENOSCROLL | WS_VSCROLL | WS_TABSTOP
	LTEXT           "大小(&S):",IDC_STATIC,167,19,40,8
	COMBOBOX        AFX_IDC_FONTSIZES,167,29,36,53,CBS_DROPDOWN | CBS_SORT |
					CBS_DISABLENOSCROLL | WS_VSCROLL | WS_TABSTOP
	GROUPBOX        "效果",IDC_STATIC,104,44,142,24,WS_GROUP
	CONTROL         "取消線(&k)",AFX_IDC_STRIKEOUT,"Button",BS_AUTOCHECKBOX |
					WS_TABSTOP,109,55,65,10
	CONTROL         "底線(&U)",AFX_IDC_UNDERLINE,"Button",BS_AUTOCHECKBOX |
					WS_TABSTOP,175,55,65,10
	GROUPBOX        "範例",IDC_STATIC,104,71,142,36,WS_GROUP
	CTEXT           "AaBbYyZz",AFX_IDC_SAMPLEBOX,110,80,130,22,SS_NOPREFIX |
					NOT WS_VISIBLE
END

AFX_IDD_PROPPAGE_COLOR DIALOG DISCARDABLE  0, 0, 250, 62
STYLE WS_CHILD | 0x4
FONT 8, "MS Shell Dlg"
BEGIN
	LTEXT           "屬性名稱(&N):",IDC_STATIC,3,3,100,8
	COMBOBOX        AFX_IDC_COLORPROP,3,13,100,54,CBS_DROPDOWNLIST |
					CBS_SORT | WS_VSCROLL | WS_TABSTOP
	LTEXT           "系統顏色(&C):",IDC_STATIC,3,29,100,8
	COMBOBOX        AFX_IDC_SYSTEMCOLORS,3,39,100,54,CBS_DROPDOWNLIST |
					CBS_SORT | WS_VSCROLL | WS_TABSTOP
	CONTROL         "",AFX_IDC_COLOR_BLACK,"Button",BS_OWNERDRAW | WS_GROUP |
					WS_TABSTOP,118,4,15,11
	CONTROL         "",AFX_IDC_COLOR_BLUE,"Button",BS_OWNERDRAW,138,4,15,11
	CONTROL         "",AFX_IDC_COLOR_CYAN,"Button",BS_OWNERDRAW,158,4,15,11
	CONTROL         "",AFX_IDC_COLOR_DARKBLUE,"Button",BS_OWNERDRAW,178,4,15,
					11
	CONTROL         "",AFX_IDC_COLOR_DARKCYAN,"Button",BS_OWNERDRAW,118,18,
					15,11
	CONTROL         "",AFX_IDC_COLOR_DARKGREEN,"Button",BS_OWNERDRAW,138,18,
					15,11
	CONTROL         "",AFX_IDC_COLOR_DARKMAGENTA,"Button",BS_OWNERDRAW,158,
					18,15,11
	CONTROL         "",AFX_IDC_COLOR_GRAY,"Button",BS_OWNERDRAW,178,18,15,11
	CONTROL         "",AFX_IDC_COLOR_DARKRED,"Button",BS_OWNERDRAW,118,32,15,
					11
	CONTROL         "",AFX_IDC_COLOR_GREEN,"Button",BS_OWNERDRAW,138,32,15,
					11
	CONTROL         "",AFX_IDC_COLOR_LIGHTBROWN,"Button",BS_OWNERDRAW,158,32,
					15,11
	CONTROL         "",AFX_IDC_COLOR_LIGHTGRAY,"Button",BS_OWNERDRAW,178,32,
					15,11
	CONTROL         "",AFX_IDC_COLOR_MAGENTA,"Button",BS_OWNERDRAW,118,46,15,
					11
	CONTROL         "",AFX_IDC_COLOR_RED,"Button",BS_OWNERDRAW,138,46,15,11
	CONTROL         "",AFX_IDC_COLOR_WHITE,"Button",BS_OWNERDRAW,158,46,15,
					11
	CONTROL         "",AFX_IDC_COLOR_YELLOW,"Button",BS_OWNERDRAW,178,46,15,
					11
END

AFX_IDD_PROPPAGE_PICTURE DIALOG DISCARDABLE  0, 0, 250, 62
STYLE WS_CHILD | 0x4
FONT 8, "MS Shell Dlg"
BEGIN
	LTEXT           "屬性名稱(&N):",IDC_STATIC,3,3,100,8
	COMBOBOX        AFX_IDC_PROPNAME,3,13,100,30,CBS_DROPDOWNLIST | CBS_SORT |
					WS_VSCROLL | WS_TABSTOP
	PUSHBUTTON      "瀏覽(&B)...",AFX_IDC_BROWSE,3,35,54,14
	PUSHBUTTON      "清除(&C)",AFX_IDC_CLEAR,61,35,54,14
	RTEXT           "預覽:",IDC_STATIC,107,3,42,16
	CONTROL         "",AFX_IDC_PICTURE,"Static",SS_BLACKFRAME,151,4,93,54
END

/////////////////////////////////////////////////////////////////////////////
//
// Dialog Info
//

AFX_IDD_PROPPAGE_FONT DLGINIT
BEGIN
	1002, 0x403, 12, 0
0x6f42, 0x646c, 0x4920, 0x6174, 0x696c, 0x0063,
	0
END

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE
BEGIN
	AFX_IDS_PROPPAGE_UNKNOWN "(未知)"
	AFX_IDS_COLOR_DESKTOP   "桌面"
	AFX_IDS_COLOR_APPWORKSPACE "應用程式工作區"
	AFX_IDS_COLOR_WNDBACKGND "視窗背景"
	AFX_IDS_COLOR_WNDTEXT   "視窗文字"
	AFX_IDS_COLOR_MENUBAR   "功能表列"
	AFX_IDS_COLOR_MENUTEXT  "功能表文字"
	AFX_IDS_COLOR_ACTIVEBAR "現用標題列"
	AFX_IDS_COLOR_INACTIVEBAR "非現用標題列"
	AFX_IDS_COLOR_ACTIVETEXT "現用標題列文字"
	AFX_IDS_COLOR_INACTIVETEXT "現用標題列文字"
	AFX_IDS_COLOR_ACTIVEBORDER "現用邊界"
	AFX_IDS_COLOR_INACTIVEBORDER "非現用邊界"
END
#endif // !_AFX_NO_STOCKPPG_RESOURCES

STRINGTABLE DISCARDABLE
BEGIN
#ifndef _AFX_NO_STOCKPPG_RESOURCES
	AFX_IDS_COLOR_WNDFRAME  "視窗邊框"
	AFX_IDS_COLOR_SCROLLBARS "捲軸"
	AFX_IDS_COLOR_BTNFACE   "按鈕表面"
	AFX_IDS_COLOR_BTNSHADOW "按鈕陰影"
	AFX_IDS_COLOR_BTNTEXT   "按鈕文字"
	AFX_IDS_COLOR_BTNHIGHLIGHT "按鈕強調"
	AFX_IDS_COLOR_DISABLEDTEXT "失效文字"
	AFX_IDS_COLOR_HIGHLIGHT "強調"
	AFX_IDS_COLOR_HIGHLIGHTTEXT "強調文字"
	AFX_IDS_REGULAR         "一般"
	AFX_IDS_BOLD            "粗體"
	AFX_IDS_ITALIC          "斜體"
	AFX_IDS_BOLDITALIC      "粗斜體"
	AFX_IDS_SAMPLETEXT      "AaBbYyZz"
#endif // !_AFX_NO_STOCKPPG_RESOURCES
	AFX_IDS_DISPLAYSTRING_FONT "(字型)"
	AFX_IDS_DISPLAYSTRING_COLOR "(顏色)"
END

STRINGTABLE DISCARDABLE
BEGIN
	AFX_IDS_DISPLAYSTRING_PICTURE "(圖片 - %s)"
#ifndef _AFX_NO_STOCKPPG_RESOURCES
	AFX_IDS_PICTUREFILTER   "所有圖片型態|*.bmp;*.cur;*.dib;*.emf;*.ico;*.wmf|點陣圖 (*.bmp;*.dib)|*.bmp;*.dib|圖示/指標 (*.ico;*.cur)|*.ico;*.cur|中繼檔 (*.wmf;*.emf)|*.wmf;*.emf|所有檔案 (*.*)|*.*||"
#endif // !_AFX_NO_STOCKPPG_RESOURCES
	AFX_IDS_PICTYPE_UNKNOWN "未知"
	AFX_IDS_PICTYPE_NONE    "沒有框線"
	AFX_IDS_PICTYPE_BITMAP  "點陣圖形"
	AFX_IDS_PICTYPE_METAFILE "中繼檔"
	AFX_IDS_PICTYPE_ICON    "圖示"
#ifndef _AFX_NO_STOCKPPG_RESOURCES
	AFX_IDS_COLOR_PPG       "彩色屬性頁"
	AFX_IDS_COLOR_PPG_CAPTION "彩色"
	AFX_IDS_FONT_PPG        "字型屬性頁"
	AFX_IDS_FONT_PPG_CAPTION "字型"
	AFX_IDS_PICTURE_PPG     "圖片屬性頁"
	AFX_IDS_PICTURE_PPG_CAPTION "圖片"
#endif // !_AFX_NO_STOCKPPG_RESOURCES
	AFX_IDS_BORDERSTYLE_0   "0 - 沒有框線"
	AFX_IDS_BORDERSTYLE_1   "1 - 固定單線"
END

STRINGTABLE DISCARDABLE
BEGIN
	AFX_IDS_VERB_EDIT       "編輯(&E)"
	AFX_IDS_VERB_PROPERTIES "屬性(&P)..."
END

#ifndef _AFX_NO_STOCKPPG_RESOURCES
STRINGTABLE DISCARDABLE
BEGIN
	AFX_IDP_PICTURECANTOPEN "無法載入圖片檔案 %1. 檔案也許或不存在, 或無法讀取."
	AFX_IDP_PICTURECANTLOAD "無法載入圖片檔案 %1. 檔案格式錯誤."
	AFX_IDP_PICTURETOOLARGE "無法載入圖片檔案 %1. 檔案太大記憶體不夠."
	AFX_IDP_PICTUREREADFAILED
							"無法載入圖片檔案 %1. 無法解釋的讀取失敗."
END

STRINGTABLE DISCARDABLE
BEGIN
	AFX_IDS_PICTUREBROWSETITLE "瀏覽圖片"
END
#endif // !_AFX_NO_STOCKPPG_RESOURCES

#ifndef _AFX_NO_CTLERROR_RESOURCES
STRINGTABLE DISCARDABLE
BEGIN
	AFX_IDP_E_ILLEGALFUNCTIONCALL "不合法之功能呼叫"
	AFX_IDP_E_OVERFLOW      "溢出(Overflow)"
	AFX_IDP_E_OUTOFMEMORY   "記憶體用完"
	AFX_IDP_E_DIVISIONBYZERO "除零"
	AFX_IDP_E_OUTOFSTRINGSPACE "字串空間已滿"
	AFX_IDP_E_OUTOFSTACKSPACE "堆疊已滿"
	AFX_IDP_E_BADFILENAMEORNUMBER "壞的檔案名稱或編號"
	AFX_IDP_E_FILENOTFOUND  "找不到檔案"
	AFX_IDP_E_BADFILEMODE   "壞的檔案模態"
	AFX_IDP_E_FILEALREADYOPEN "檔案已開啟"
	AFX_IDP_E_DEVICEIOERROR "設備輸出入錯誤"
	AFX_IDP_E_FILEALREADYEXISTS "檔案已存在"
	AFX_IDP_E_BADRECORDLENGTH "壞的紀錄長度"
	AFX_IDP_E_DISKFULL      "磁碟空間已滿"
	AFX_IDP_E_BADRECORDNUMBER "壞的紀錄編號"
	AFX_IDP_E_BADFILENAME   "壞的檔案名稱"
END

STRINGTABLE DISCARDABLE
BEGIN
	AFX_IDP_E_TOOMANYFILES  "太多檔案"
	AFX_IDP_E_DEVICEUNAVAILABLE "設備無法使用"
	AFX_IDP_E_PERMISSIONDENIED "允許拒絕"
	AFX_IDP_E_DISKNOTREADY  "磁碟機未備妥"
	AFX_IDP_E_PATHFILEACCESSERROR "路徑/檔案存取錯誤"
	AFX_IDP_E_PATHNOTFOUND  "找不到路徑"
	AFX_IDP_E_INVALIDPATTERNSTRING "不合法的樣式字串"
	AFX_IDP_E_INVALIDUSEOFNULL "不合法使用空值(null)"
	AFX_IDP_E_INVALIDFILEFORMAT "不合法的檔案格式"
	AFX_IDP_E_INVALIDPROPERTYVALUE "不合法的屬性值"
	AFX_IDP_E_INVALIDPROPERTYARRAYINDEX "不合法的索引"
	AFX_IDP_E_SETNOTSUPPORTEDATRUNTIME "無法在執行時設定屬性"
	AFX_IDP_E_SETNOTSUPPORTED "唯讀屬性"
	AFX_IDP_E_NEEDPROPERTYARRAYINDEX
							"當使用屬性陣列時必須說明陣列索引"
	AFX_IDP_E_SETNOTPERMITTED "這個控制項之屬性無法設定"
	AFX_IDP_E_GETNOTSUPPORTEDATRUNTIME "無法在執行時讀取屬性"
END

STRINGTABLE DISCARDABLE
BEGIN
	AFX_IDP_E_GETNOTSUPPORTED "唯寫屬性"
	AFX_IDP_E_PROPERTYNOTFOUND "找不到屬性"
	AFX_IDP_E_INVALIDCLIPBOARDFORMAT "不合法之剪貼簿格式"
	AFX_IDP_E_INVALIDPICTURE "不合法圖片"
	AFX_IDP_E_PRINTERERROR  "印表機錯誤"
	AFX_IDP_E_CANTSAVEFILETOTEMP
							"無法產生必須儲存之暫時檔案"
	AFX_IDP_E_SEARCHTEXTNOTFOUND "無法找到想搜尋之文字"
	AFX_IDP_E_REPLACEMENTSTOOLONG "取代文字過長"
END
#endif //!_AFX_NO_CTLERROR_RESOURCES

#endif //!_AFXDLL
#endif //__AFXOLECL_RC__
