// This is a part of the Microsoft Foundation Classes C++ library.
// Copyright (C) 1992-1998 Microsoft Corporation
// All rights reserved.
//
// This source code is only intended as a supplement to the
// Microsoft Foundation Classes Reference and related
// electronic documentation provided with the library.
// See these sources for detailed information regarding the
// Microsoft Foundation Classes product.

#ifndef __AFXOLECL_RC__
#define __AFXOLECL_RC__

#ifndef __AFXRES_H__
	#include <afxres.h>
#endif

#ifndef _INC_DLGS
	#include <dlgs.h>
#endif

#ifdef APSTUDIO_INVOKED
// This will prevent the VC++ Resource Editor user from saving this file
1 TEXTINCLUDE DISCARDABLE
BEGIN
"< 無法改變標準MFC資源! >\0"
END
#endif    // APSTUDIO_INVOKED

#ifndef _AFXDLL

/////////////////////////////////////////////////////////////////////////////
// OLE Client Resources

/////////////////////////////////////////////////////////////////////////////
// OLE strings

STRINGTABLE DISCARDABLE
BEGIN
	AFX_IDP_STATIC_OBJECT           "無法啟動靜態的 ActiveX 物件。"
	AFX_IDP_FAILED_TO_CONNECT       "連結失敗.\n連結可能被破壞."
	AFX_IDP_SERVER_BUSY             "無法處理指令, 伺服器忙碌中."
	AFX_IDP_BAD_VERB                "伺服器作業執行失敗."
	AFX_IDP_FAILED_TO_LAUNCH        "無法啟動伺服器應用程式."
	AFX_IDS_UPDATING_ITEMS          "更新 ActiveX 物件"
	AFX_IDP_FAILED_TO_CONVERT       "ActiveX 物件轉換失敗。"
	AFX_IDP_ASK_TO_DISCARD          "離開視窗時，無法儲存 ActiveX 物件!\n放棄所有在 %1 中的變更嗎?"
	AFX_IDP_FAILED_TO_CREATE        "產生物件失敗.  確定應用程式已登錄在系統登錄器中(system registry)."

	AFX_IDS_METAFILE_FORMAT         "圖片(Metafile)\na 圖片"
	AFX_IDS_DIB_FORMAT              "設備獨立點陣圖(Device Independent Bitmap)\na 設備獨立點陣圖(device independent bitmap)"
	AFX_IDS_BITMAP_FORMAT           "點陣圖\na 點陣圖"
	AFX_IDS_LINKSOURCE_FORMAT       "%s\n%s"
	AFX_IDS_EMBED_FORMAT            "%s\n%s"
	AFX_IDS_RTF_FORMAT              "Rich Text (RTF)\n無字型和段落格式的文字"
	AFX_IDS_TEXT_FORMAT             "未格式化文字\n文字沒有任何格式"

	AFX_IDS_INVALID_CURRENCY        "不合法的貨幣值(Currency)."
	AFX_IDS_INVALID_DATETIME        "不合法的日期時間(DateTime)."
	AFX_IDS_INVALID_DATETIMESPAN    "不合法的DateTimeSpan."
END

/////////////////////////////////////////////////////////////////////////////

#endif //!_AFXDLL
#endif //__AFXOLECL_RC__
