*.local
*.tvsconfig
*.dsk
*.~dsk
__history
DiscMonP.res
DragDropP.res
DriveDir.res
Moje.res
tb2k.res
tb2kdsgn.res
tbxdsgn.res
tbxp.res
Console.res
DragExt.res
DScpComp.res
FileZilla.res
Putty.res
RScpComp.res
ScpCore.res
ScpForms.res
WinSCP.res
*.ddp
*.dti
Release
Debug
*.hpp
*.cbk
*.ReSharper.user
*.sln.DotSettings.user
*.suo
*.csproj.user
pasall.tmp
